# Pandas

- Biblioteca para análise de dados.

- Dá ao Python a capacidade de trabalhar com dados do tipo planilha.

- Permite carregar, manipular, alinhar e combinar dados rapidamente, entre outras funções.

In [1]:
import pandas

In [2]:
arquivo = "dataset.csv"

### Leitura de arquivos .csv

#### .read_csv() - Recebe como parâmetro o arquivo que será lido

In [3]:
df = pandas.read_csv(arquivo)

print(df)

     ID;LON;LAT;NAME;CLASS;STATE;ANNUAL;JAN;FEB;MAR;APR;MAY;JUN;JUL;AUG;SEP;OCT;NOV;DEC
0     30670;-68.7463;-11.0109;Brasiléia;Sede Municip...
1     30670;-68.7442;-11.0293;Epitaciolândia;Sede Mu...
2     30970;-69.5658;-10.9394;Assis Brasil;Sede Muni...
3     31603;-68.4973;-10.652;Xapuri;Sede Municipal;A...
4     31929;-67.6768;-10.5749;Capixaba;Sede Municipa...
...                                                 ...
5564  51696;-47.8115;-5.3932;Praia Norte;Sede Munici...
5565  51696;-47.8786;-5.3546;Sampaio;Sede Municipal;...
5566  52070;-48.2023;-5.2577;São Sebastião do Tocant...
5567  52070;-48.2275;-5.3149;Buriti do Tocantins;Sed...
5568  52072;-48.0357;-5.3236;Carrasco Bonito;Sede Mu...

[5569 rows x 1 columns]

#### error_bad_lines=False - Parâmetro que faz a leitura ignorar linhas com erro

In [4]:
df = pandas.read_csv(arquivo, error_bad_lines=False)
print(df)

     ID;LON;LAT;NAME;CLASS;STATE;ANNUAL;JAN;FEB;MAR;APR;MAY;JUN;JUL;AUG;SEP;OCT;NOV;DEC
0     30670;-68.7463;-11.0109;Brasiléia;Sede Municip...
1     30670;-68.7442;-11.0293;Epitaciolândia;Sede Mu...
2     30970;-69.5658;-10.9394;Assis Brasil;Sede Muni...
3     31603;-68.4973;-10.652;Xapuri;Sede Municipal;A...
4     31929;-67.6768;-10.5749;Capixaba;Sede Municipa...
...                                                 ...
5564  51696;-47.8115;-5.3932;Praia Norte;Sede Munici...
5565  51696;-47.8786;-5.3546;Sampaio;Sede Municipal;...
5566  52070;-48.2023;-5.2577;São Sebastião do Tocant...
5567  52070;-48.2275;-5.3149;Buriti do Tocantins;Sed...
5568  52072;-48.0357;-5.3236;Carrasco Bonito;Sede Mu...

[5569 rows x 1 columns]

/tmp/ipykernel_391859/3994967680.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pandas.read_csv(arquivo, error_bad_lines=False)

#### sep="," - Parâmetro que troca o caractere de separação, por padrão é a vírgula

In [5]:
df = pandas.read_csv(arquivo, sep=";")
print(df)

         ID      LON      LAT                        NAME           CLASS  \
0     30670 -68.7463 -11.0109                   Brasiléia  Sede Municipal
1     30670 -68.7442 -11.0293              Epitaciolândia  Sede Municipal
2     30970 -69.5658 -10.9394                Assis Brasil  Sede Municipal
3     31603 -68.4973 -10.6520                      Xapuri  Sede Municipal
4     31929 -67.6768 -10.5749                    Capixaba  Sede Municipal
...     ...      ...      ...                         ...             ...
5564  51696 -47.8115  -5.3932                 Praia Norte  Sede Municipal
5565  51696 -47.8786  -5.3546                     Sampaio  Sede Municipal
5566  52070 -48.2023  -5.2577  São Sebastião do Tocantins  Sede Municipal
5567  52070 -48.2275  -5.3149         Buriti do Tocantins  Sede Municipal
5568  52072 -48.0357  -5.3236             Carrasco Bonito  Sede Municipal

          STATE  ANNUAL   JAN   FEB   MAR   APR   MAY   JUN   JUL   AUG   SEP  \
0          ACRE    4620  4655  4653  4268  4566  3945  4079  4285  4858  5102
1          ACRE    4620  4655  4653  4268  4566  3945  4079  4285  4858  5102
2          ACRE    4615  4678  4661  4231  4532  3917  4026  4283  4947  5136
3          ACRE    4607  4629  4586  4281  4578  3962  4125  4332  4894  5068
4          ACRE    4542  4486  4527  4264  4395  3957  3983  4228  4823  5070
...         ...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
5564  TOCANTINS    5064  4623  4796  4916  4949  4822  5141  5277  5720  5594
5565  TOCANTINS    5064  4623  4796  4916  4949  4822  5141  5277  5720  5594
5566  TOCANTINS    5000  4564  4725  4823  4877  4816  5153  5248  5725  5518
5567  TOCANTINS    5000  4564  4725  4823  4877  4816  5153  5248  5725  5518
5568  TOCANTINS    5029  4620  4721  4864  4938  4856  5144  5259  5704  5552

       OCT   NOV   DEC
0     5105  5157  4771
1     5105  5157  4771
2     5092  5102  4771
3     5071  5077  4686
4     5138  4952  4677
...    ...   ...   ...
5564  5235  4936  4762
5565  5235  4936  4762
5566  5012  4881  4655
5567  5012  4881  4655
5568  5105  4901  4688

[5569 rows x 19 columns]

## Leitura de arquivos de excel (xls, xlsx, xlsm, xlsb e odf)

In [6]:
alagoas = "Nordeste/alagoas.xlsx"
bahia = "Nordeste/bahia.xlsx"
ceara = "Nordeste/ceara.xlsx"
maranhao = "Nordeste/maranhao.xlsx"
paraiba = "Nordeste/paraiba.xlsx"
pernambuco = "Nordeste/pernambuco.xlsx"
piaui = "Nordeste/piaui.xlsx"
rioGN = "Nordeste/RGN.xlsx"
sergipe = "Nordeste/sergipe.xlsx"

#### .read_excel() - Faz a leitura de um arquivo de excel como parâmetro

In [7]:
df1 = pandas.read_excel(alagoas)
df2 = pandas.read_excel(bahia)
df3 = pandas.read_excel(ceara)
df4 = pandas.read_excel(maranhao)
df5 = pandas.read_excel(paraiba)
df6 = pandas.read_excel(pernambuco)
df7 = pandas.read_excel(piaui)
df8 = pandas.read_excel(rioGN)
df9 = pandas.read_excel(sergipe)

## Visualização dos arquivos

#### .head() - Mostra uma quantidade x de linhas, tem como padrão 5 linhas

In [8]:
df.head()

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,30670,-68.7463,-11.0109,Brasiléia,Sede Municipal,ACRE,4620,4655,4653,4268,4566,3945,4079,4285,4858,5102,5105,5157,4771
1,30670,-68.7442,-11.0293,Epitaciolândia,Sede Municipal,ACRE,4620,4655,4653,4268,4566,3945,4079,4285,4858,5102,5105,5157,4771
2,30970,-69.5658,-10.9394,Assis Brasil,Sede Municipal,ACRE,4615,4678,4661,4231,4532,3917,4026,4283,4947,5136,5092,5102,4771
3,31603,-68.4973,-10.6520,Xapuri,Sede Municipal,ACRE,4607,4629,4586,4281,4578,3962,4125,4332,4894,5068,5071,5077,4686
4,31929,-67.6768,-10.5749,Capixaba,Sede Municipal,ACRE,4542,4486,4527,4264,4395,3957,3983,4228,4823,5070,5138,4952,4677

In [9]:
df.head(10)

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,30670,-68.7463,-11.0109,Brasiléia,Sede Municipal,ACRE,4620,4655,4653,4268,4566,3945,4079,4285,4858,5102,5105,5157,4771
1,30670,-68.7442,-11.0293,Epitaciolândia,Sede Municipal,ACRE,4620,4655,4653,4268,4566,3945,4079,4285,4858,5102,5105,5157,4771
2,30970,-69.5658,-10.9394,Assis Brasil,Sede Municipal,ACRE,4615,4678,4661,4231,4532,3917,4026,4283,4947,5136,5092,5102,4771
3,31603,-68.4973,-10.6520,Xapuri,Sede Municipal,ACRE,4607,4629,4586,4281,4578,3962,4125,4332,4894,5068,5071,5077,4686
4,31929,-67.6768,-10.5749,Capixaba,Sede Municipal,ACRE,4542,4486,4527,4264,4395,3957,3983,4228,4823,5070,5138,4952,4677
5,32906,-67.1860,-10.3257,Plácido de Castro,Sede Municipal,ACRE,4523,4476,4490,4266,4385,3968,4093,4300,4829,4853,5073,4917,4626
6,33560,-67.7367,-10.1501,Senador Guiomard,Sede Municipal,ACRE,4558,4483,4594,4218,4417,3943,4088,4271,4874,5097,5137,4967,4611
7,33567,-67.0531,-10.0755,Acrelândia,Sede Municipal,ACRE,4515,4521,4522,4247,4371,3960,4084,4284,4807,4915,5008,4885,4574
8,33902,-67.8253,-9.9758,Rio Branco,Capital Estadual,ACRE,4560,4470,4608,4216,4414,3946,4088,4263,4866,5104,5105,5035,4606
9,34602,-67.9523,-9.8340,Bujari,Sede Municipal,ACRE,4567,4501,4621,4231,4401,4011,4111,4316,4885,5031,5131,4989,4580

In [10]:
df.head(2)

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,30670,-68.7463,-11.0109,Brasiléia,Sede Municipal,ACRE,4620,4655,4653,4268,4566,3945,4079,4285,4858,5102,5105,5157,4771
1,30670,-68.7442,-11.0293,Epitaciolândia,Sede Municipal,ACRE,4620,4655,4653,4268,4566,3945,4079,4285,4858,5102,5105,5157,4771

#### .tail() - retorna as últimas linhas, por padrão utiliza-se 5 linhas

In [11]:
df.tail()

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
5564,51696,-47.8115,-5.3932,Praia Norte,Sede Municipal,TOCANTINS,5064,4623,4796,4916,4949,4822,5141,5277,5720,5594,5235,4936,4762
5565,51696,-47.8786,-5.3546,Sampaio,Sede Municipal,TOCANTINS,5064,4623,4796,4916,4949,4822,5141,5277,5720,5594,5235,4936,4762
5566,52070,-48.2023,-5.2577,São Sebastião do Tocantins,Sede Municipal,TOCANTINS,5000,4564,4725,4823,4877,4816,5153,5248,5725,5518,5012,4881,4655
5567,52070,-48.2275,-5.3149,Buriti do Tocantins,Sede Municipal,TOCANTINS,5000,4564,4725,4823,4877,4816,5153,5248,5725,5518,5012,4881,4655
5568,52072,-48.0357,-5.3236,Carrasco Bonito,Sede Municipal,TOCANTINS,5029,4620,4721,4864,4938,4856,5144,5259,5704,5552,5105,4901,4688

In [12]:
df.tail(10)

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
5559,50941,-47.7721,-5.6180,Axixá do Tocantins,Sede Municipal,TOCANTINS,5010,4575,4717,4785,4824,4804,5110,5279,5794,5559,5117,4885,4673
5560,50942,-47.6385,-5.6016,Sítio Novo do Tocantins,Sede Municipal,TOCANTINS,5019,4593,4734,4805,4824,4830,5125,5270,5752,5554,5136,4888,4711
5561,50943,-47.5774,-5.5521,São Miguel do Tocantins,Sede Municipal,TOCANTINS,5032,4624,4754,4837,4837,4835,5127,5253,5713,5580,5168,4910,4748
5562,51318,-47.8866,-5.4690,Augustinópolis,Sede Municipal,TOCANTINS,5038,4618,4812,4851,4888,4832,5145,5273,5726,5536,5140,4897,4736
5563,51689,-48.5382,-5.3663,Esperantina,Sede Municipal,TOCANTINS,4977,4550,4749,4795,4866,4821,5136,5213,5711,5477,4955,4862,4579
5564,51696,-47.8115,-5.3932,Praia Norte,Sede Municipal,TOCANTINS,5064,4623,4796,4916,4949,4822,5141,5277,5720,5594,5235,4936,4762
5565,51696,-47.8786,-5.3546,Sampaio,Sede Municipal,TOCANTINS,5064,4623,4796,4916,4949,4822,5141,5277,5720,5594,5235,4936,4762
5566,52070,-48.2023,-5.2577,São Sebastião do Tocantins,Sede Municipal,TOCANTINS,5000,4564,4725,4823,4877,4816,5153,5248,5725,5518,5012,4881,4655
5567,52070,-48.2275,-5.3149,Buriti do Tocantins,Sede Municipal,TOCANTINS,5000,4564,4725,4823,4877,4816,5153,5248,5725,5518,5012,4881,4655
5568,52072,-48.0357,-5.3236,Carrasco Bonito,Sede Municipal,TOCANTINS,5029,4620,4721,4864,4938,4856,5144,5259,5704,5552,5105,4901,4688

#### .sample() - Retorna uma amostra da tabela, usa como parâmetro a quantidade de elementos da amostra

In [13]:
df.sample(5)

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
3040,5378,-50.0559,-23.7930,Pinhalão,Sede Municipal,PARANÁ,4823,5720,5742,5126,4504,3582,3193,3454,4428,4625,5245,5961,6294
1006,18161,-49.3668,-16.2546,Damolândia,Sede Municipal,GOIÁS,5273,5401,5570,5168,5153,4873,4647,4839,5817,5553,5521,5266,5467
3119,6002,-52.0555,-23.1522,Atalaia,Sede Municipal,PARANÁ,4942,5917,5821,5323,4647,3670,3364,3563,4479,4682,5396,6079,6368
1105,23099,-49.1780,-14.0153,Mara Rosa,Sede Municipal,GOIÁS,5312,5423,5510,5147,5148,4996,4777,5154,5842,5662,5570,5164,5349
1847,10031,-44.0658,-20.6711,Entre Rios de Minas,Sede Municipal,MINAS GERAIS,4872,5642,5852,4906,4523,3913,3751,3967,4927,5136,5296,5023,5527

#### .shape - Retorna a quantidade de linhas e colunas

In [14]:
resultado = df.shape

print(resultado)
print(type(resultado))

(5569, 19)
<class 'tuple'>

#### .columns - Retorna o nome das colunas

In [15]:
resultado = df.columns

print(resultado)
print(type(resultado))

Index(['ID', 'LON', 'LAT', 'NAME', 'CLASS', 'STATE', 'ANNUAL', 'JAN', 'FEB',
       'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
      dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [16]:
print(resultado[2])

LAT

#### .dtypes - Retorna o tipo de cada coluna

In [17]:
df.dtypes

ID          int64
LON       float64
LAT       float64
NAME       object
CLASS      object
STATE      object
ANNUAL      int64
JAN         int64
FEB         int64
MAR         int64
APR         int64
MAY         int64
JUN         int64
JUL         int64
AUG         int64
SEP         int64
OCT         int64
NOV         int64
DEC         int64
dtype: object

## Juntando tabelas

#### .concat() - Recebe uma lista com os arquivos que quer concatenar, ficando um abaixo do outro

In [18]:
nordeste = pandas.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9])

nordeste.head()

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,32868,-36.4343,-10.4064,Piaçabuçu,Sede Municipal,ALAGOAS,5441.0,6151,6169,6059,5039,4366,4106,4158,4855,5535,6017,6358.0,6473.0
1,33196,-36.5822,-10.2879,Penedo,Sede Municipal,ALAGOAS,5338.0,6097,5947,5891,5045,4298,4042,4110,4722,5442,5861,6297.0,6312.0
2,33198,-36.3031,-10.2939,Feliz Deserto,Sede Municipal,ALAGOAS,5439.0,6257,6212,6051,5040,4364,4031,4142,4785,5523,6027,6346.0,6488.0
3,33523,-36.8379,-10.1853,Porto Real do Colégio,Sede Municipal,ALAGOAS,5434.0,6333,6118,5996,5239,4349,4101,4151,4716,5538,5903,6349.0,6408.0
4,33854,-36.9019,-10.1215,São Brás,Sede Municipal,ALAGOAS,5399.0,6221,6007,5932,5205,4363,4123,4185,4773,5552,5852,6291.0,6284.0

In [19]:
nordeste.tail()

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
70,34193,-37.5619,-10026.0000,Monte Alegre de Sergipe,Sede Municipal,SERGIPE,5299.0,6026,5899,5862,5126,4283,3971,4131,4701,5468,5697,6223.0,6200.0
71,34198,-37.0869,-9.9701,Gararu,Sede Municipal,SERGIPE,5463.0,6289,6051,5999,5276,4383,4141,4214,4867,5694,5930,6379.0,6328.0
72,34546,-37.2845,-9.9167,Porto da Folha,Sede Municipal,SERGIPE,5424.0,6271,6043,5901,5202,4328,4078,4200,4783,5631,5887,6439.0,6322.0
73,34905,-37.6836,-9.8066,Poço Redondo,Sede Municipal,SERGIPE,5343.0,6148,5947,5916,5167,4339,3969,4082,4629,5465,5801,6345.0,6311.0
74,35267,-37.7891,-9.6606,Canindé de São Francisco,Sede Municipal,SERGIPE,5432.0,6323,6069,5960,5280,4374,4000,4105,4794,5540,5905,6427.0,6402.0

In [20]:
nordeste.sample(9)

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
4,29797,-37.4612,-11.3512,Santa Luzia do Itanhy,Sede Municipal,SERGIPE,5347.0,6382,6121,5998,5021,4226,3956,4076,4583,5345,5730,6253.0,6472.0
166,60063,-44.0531,-2.9311,Cachoeira Grande,Sede Municipal,MARANHÃO,4986.0,4479,4515,4495,4441,4587,4903,5049,5579,5935,5685,5308.0,4857.0
130,23849,-39.4785,-13.6869,Wenceslau Guimarães,Sede Municipal,BAHIA,4844.0,5898,5846,5530,4462,3829,3436,3705,4184,4887,5089,5337.0,5924.0
20,47992,-37.3499,-6.3771,Jardim de Piranhas,Sede Municipal,RIO GRANDE DO NORTE,5966.0,6199,6248,6220,5860,5297,4846,5158,5924,6416,6604,6603.0,6214.0
101,41380,-35.8651,-8.1378,Riacho das Almas,Sede Municipal,PERNAMBUCO,5254.0,5755,5755,5739,5125,4467,4028,4182,4766,5455,5755,6074.0,5943.0
122,42156,-36.2064,-7.9484,Santa Cruz do Capibaribe,Sede Municipal,PERNAMBUCO,5429.0,5889,5886,5862,5366,4630,4199,4337,5027,5714,6015,6248.0,5982.0
411,37106,-40.9737,-9.1743,Casa Nova,Sede Municipal,BAHIA,5774.0,6330,5980,5893,5204,4902,4721,4998,5739,6375,6413,6479.0,6258.0
46,41309,-42.9521,-8.1115,Canto do Buriti,Sede Municipal,PIAUÍ,5772.0,5549,5566,5478,5393,5304,5287,5540,6312,6516,6424,6040.0,5853.0
163,43287,-40496.0000,-7.5708,Araripina,Sede Municipal,PERNAMBUCO,5636.0,5701,5442,5545,5141,4840,4659,5048,5919,6435,6439,6400.0,6064.0

## Alteração de dados

#### .rename() - Faz a renomeação de dados colocados como parâmetro

#### columns={} - Parâmetro que altera o nome das colunas, utiliza dicionários, onde a chave é o nome antigo e o valor o novo nome

In [21]:
df = df.rename(columns={"NAME":"Cidade","STATE":"Estado","ANNUAL":"Anual"})

In [22]:
df.head(10)

,ID,LON,LAT,Cidade,CLASS,Estado,Anual,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,30670,-68.7463,-11.0109,Brasiléia,Sede Municipal,ACRE,4620,4655,4653,4268,4566,3945,4079,4285,4858,5102,5105,5157,4771
1,30670,-68.7442,-11.0293,Epitaciolândia,Sede Municipal,ACRE,4620,4655,4653,4268,4566,3945,4079,4285,4858,5102,5105,5157,4771
2,30970,-69.5658,-10.9394,Assis Brasil,Sede Municipal,ACRE,4615,4678,4661,4231,4532,3917,4026,4283,4947,5136,5092,5102,4771
3,31603,-68.4973,-10.6520,Xapuri,Sede Municipal,ACRE,4607,4629,4586,4281,4578,3962,4125,4332,4894,5068,5071,5077,4686
4,31929,-67.6768,-10.5749,Capixaba,Sede Municipal,ACRE,4542,4486,4527,4264,4395,3957,3983,4228,4823,5070,5138,4952,4677
5,32906,-67.1860,-10.3257,Plácido de Castro,Sede Municipal,ACRE,4523,4476,4490,4266,4385,3968,4093,4300,4829,4853,5073,4917,4626
6,33560,-67.7367,-10.1501,Senador Guiomard,Sede Municipal,ACRE,4558,4483,4594,4218,4417,3943,4088,4271,4874,5097,5137,4967,4611
7,33567,-67.0531,-10.0755,Acrelândia,Sede Municipal,ACRE,4515,4521,4522,4247,4371,3960,4084,4284,4807,4915,5008,4885,4574
8,33902,-67.8253,-9.9758,Rio Branco,Capital Estadual,ACRE,4560,4470,4608,4216,4414,3946,4088,4263,4866,5104,5105,5035,4606
9,34602,-67.9523,-9.8340,Bujari,Sede Municipal,ACRE,4567,4501,4621,4231,4401,4011,4111,4316,4885,5031,5131,4989,4580

#### .astype(tipo) - Altera o tipo de uma coluna

In [23]:
nordeste['ID'] = nordeste['ID'].astype('object')

nordeste.dtypes

ID         object
LON       float64
LAT       float64
NAME       object
CLASS      object
STATE      object
ANNUAL    float64
JAN         int64
FEB         int64
MAR         int64
APR         int64
MAY         int64
JUN         int64
JUL         int64
AUG         int64
SEP         int64
OCT         int64
NOV       float64
DEC       float64
dtype: object

## Análise de dados

#### .describe() - Dados estatísticos gerais para todos os dados da tabela

- Count: Total
- Mean: Média
- std: Desvio padrão
- min: Valor mínimo
- 25%: Primeiro quartil
- 50%: Segundo quartil (mediana)
- 75%: Terceiro quartil
- max: Valores máximos

In [24]:
df.describe()

,ID,LON,LAT,Anual,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
count,5569.000000,5569.000000,5569.000000,5569.000000,5569.000000,5569.000000,5569.000000,5569.000000,5569.000000,5569.000000,5569.00000,5569.000000,5569.000000,5569.000000,5569.000000,5569.000000
mean,22695.372957,-46.233826,-16.452789,5035.515532,5696.097684,5676.051894,5209.939666,4705.555755,4131.779673,3897.074520,4105.67786,4850.870533,5135.395942,5459.083139,5687.211169,5871.466152
std,19134.809258,6.406782,8.284024,452.467930,529.359668,482.373486,461.262609,522.286076,727.417204,858.292075,867.51678,818.279974,834.908815,570.464649,554.710592,543.615853
min,2.000000,-72.900200,-33.687100,3594.000000,3918.000000,3916.000000,3922.000000,3327.000000,2550.000000,2167.000000,2280.00000,2926.000000,3066.000000,3457.000000,4203.000000,4102.000000
25%,6505.000000,-50.876600,-22.844600,4721.000000,5442.000000,5502.000000,4903.000000,4383.000000,3656.000000,3397.000000,3551.00000,4353.000000,4676.000000,5110.000000,5219.000000,5568.000000
50%,14733.000000,-46.521700,-18.094200,5015.000000,5785.000000,5796.000000,5177.000000,4709.000000,4092.000000,3870.000000,4055.00000,4824.000000,5109.000000,5433.000000,5773.000000,5954.000000
75%,39811.000000,-41.410900,-8.500000,5308.000000,6078.000000,5965.000000,5479.000000,5082.000000,4788.000000,4622.000000,4829.00000,5512.000000,5679.000000,5737.000000,6138.000000,6285.000000
max,72220.000000,-34.815400,4.594900,6059.000000,7068.000000,6834.000000,6424.000000,5958.000000,5546.000000,5441.000000,5770.00000,6451.000000,6792.000000,6728.000000,6845.000000,7267.000000

#### Pode-se utilizar slice das colunas no dataset

In [25]:
df["Estado"]

0            ACRE
1            ACRE
2            ACRE
3            ACRE
4            ACRE
          ...
5564    TOCANTINS
5565    TOCANTINS
5566    TOCANTINS
5567    TOCANTINS
5568    TOCANTINS
Name: Estado, Length: 5569, dtype: object

#### .unique() - retorna valores sem repetição

In [26]:
df["Estado"].unique()

array(['ACRE', 'ALAGOAS', 'AMAPÁ', 'AMAZONAS', 'BAHIA', 'CEARÁ',
       'DISTRITO FEDERAL', 'ESPÍRITO SANTO', 'GOIÁS', 'MARANHÃO',
       'MATO GROSSO', 'MATO GROSSO DO SUL', 'MINAS GERAIS', 'PARÁ',
       'PARAÍBA', 'PARANÁ', 'PERNAMBUCO', 'PIAUÍ', 'RIO DE JANEIRO',
       'RIO GRANDE DO NORTE', 'RIO GRANDE DO SUL', 'RONDÔNIA', 'RORAIMA',
       'SANTA CATARINA', 'SÃO PAULO', 'SERGIPE', 'TOCANTINS'],
      dtype=object)

#### .nunique() - Faz a contagem de cada elemento, sem repetição

In [27]:
df["Estado"].nunique()

27

#### .mean() - Calcula a média

In [28]:
df["Anual"].mean()

5035.515532411564

#### .sum() - Soma os valores da coluna

In [29]:
df["Anual"].sum()

28042786

#### .std() - Calcula o desvio padrão

In [30]:
df["Anual"].std()

452.46792983976815

#### .min() - Retorna o menor valor

In [31]:
df["Anual"].min()

3594

#### .max() - Retorna o maior valor

In [32]:
df["Anual"].max()

6059

#### .count() - Conta todas as células da coluna

In [33]:
df["Anual"].count()

5569

#### .mul() - Multiplica os valores de uma coluna

In [34]:
df["Anual"].mul(2)

0        9240
1        9240
2        9230
3        9214
4        9084
        ...
5564    10128
5565    10128
5566    10000
5567    10000
5568    10058
Name: Anual, Length: 5569, dtype: int64

#### .value_counts() - Conta quantas linhas tem com cada valor da coluna especificada e coloca em ordem descrescente

In [35]:
df["Estado"].value_counts()

MINAS GERAIS           853
SÃO PAULO              645
RIO GRANDE DO SUL      496
BAHIA                  417
PARANÁ                 399
SANTA CATARINA         295
GOIÁS                  246
PIAUÍ                  224
PARAÍBA                223
MARANHÃO               217
CEARÁ                  184
PERNAMBUCO             184
RIO GRANDE DO NORTE    168
PARÁ                   144
MATO GROSSO            141
TOCANTINS              139
ALAGOAS                102
RIO DE JANEIRO          92
MATO GROSSO DO SUL      79
ESPÍRITO SANTO          78
SERGIPE                 75
AMAZONAS                62
RONDÔNIA                52
ACRE                    22
AMAPÁ                   16
RORAIMA                 15
DISTRITO FEDERAL         1
Name: Estado, dtype: int64

#### .value_counts(ascending=True) - Conta quantas linhas tem com cada valor da coluna especificada e coloca em ordem crescente

In [36]:
df["Estado"].value_counts(ascending=True)

DISTRITO FEDERAL         1
RORAIMA                 15
AMAPÁ                   16
ACRE                    22
RONDÔNIA                52
AMAZONAS                62
SERGIPE                 75
ESPÍRITO SANTO          78
MATO GROSSO DO SUL      79
RIO DE JANEIRO          92
ALAGOAS                102
TOCANTINS              139
MATO GROSSO            141
PARÁ                   144
RIO GRANDE DO NORTE    168
PERNAMBUCO             184
CEARÁ                  184
MARANHÃO               217
PARAÍBA                223
PIAUÍ                  224
GOIÁS                  246
SANTA CATARINA         295
PARANÁ                 399
BAHIA                  417
RIO GRANDE DO SUL      496
SÃO PAULO              645
MINAS GERAIS           853
Name: Estado, dtype: int64

#### .loc[] - Faz um filtro de busca, dentro do cochetes utiliza-se um df["coluna"] e utiliza-se um operador lógico comparando com o que se quer filtrar.

In [37]:
ceara = df.loc[df["Estado"] == "CEARÁ"]

ceara.head(10)

,ID,LON,LAT,Cidade,CLASS,Estado,Anual,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
619,42518,-39.0722,-7.8291,Penaforte,Sede Municipal,CEARÁ,5743,5999,6003,5982,5477,4816,4496,4777,5535,6445,6439,6617,6324
620,42909,-39.0057,-7.6864,Jati,Sede Municipal,CEARÁ,5712,5953,5958,5886,5457,4826,4482,4757,5544,6424,6410,6561,6290
621,43299,-39.2767,-7.5855,Jardim,Sede Municipal,CEARÁ,5709,5968,5790,5792,5362,4732,4443,4726,5628,6498,6517,6685,6364
622,43692,-39.1162,-7.5338,Porteiras,Sede Municipal,CEARÁ,5764,5954,5811,5781,5389,4893,4623,4926,5775,6540,6492,6642,6339
623,43694,-38.9864,-7.4890,Brejo Santo,Sede Municipal,CEARÁ,5869,6099,6057,6018,5682,5048,4725,5003,5758,6511,6521,6662,6342
624,44086,-39.0485,-7.3609,Abaiara,Sede Municipal,CEARÁ,5903,6031,5945,5895,5645,5176,4924,5227,5963,6568,6561,6619,6281
625,44089,-38.7711,-7.3864,Mauriti,Sede Municipal,CEARÁ,5886,6053,5966,5997,5705,5085,4800,5089,5865,6562,6568,6666,6274
626,44465,-40.4590,-7.2842,Salitre,Sede Municipal,CEARÁ,5713,5456,5402,5392,5281,5141,5132,5455,6148,6509,6419,6324,5897
627,44476,-39.3088,-7.3008,Barbalha,Sede Municipal,CEARÁ,5831,5905,5833,5802,5449,5087,4923,5185,5965,6527,6508,6567,6221
628,44480,-38.9421,-7.3008,Milagres,Sede Municipal,CEARÁ,5891,6025,5944,5927,5671,5174,4905,5227,5908,6557,6547,6615,6197

In [38]:
alagoas = df.loc[df["Estado"] == "ALAGOAS"]
alagoas.head(10)

,ID,LON,LAT,Cidade,CLASS,Estado,Anual,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
22,32868,-36.4343,-10.4064,Piaçabuçu,Sede Municipal,ALAGOAS,5441,6151,6169,6059,5039,4366,4106,4158,4855,5535,6017,6358,6473
23,33196,-36.5822,-10.2879,Penedo,Sede Municipal,ALAGOAS,5338,6097,5947,5891,5045,4298,4042,4110,4722,5442,5861,6297,6312
24,33198,-36.3031,-10.2939,Feliz Deserto,Sede Municipal,ALAGOAS,5439,6257,6212,6051,5040,4364,4031,4142,4785,5523,6027,6346,6488
25,33523,-36.8379,-10.1853,Porto Real do Colégio,Sede Municipal,ALAGOAS,5434,6333,6118,5996,5239,4349,4101,4151,4716,5538,5903,6349,6408
26,33854,-36.9019,-10.1215,São Brás,Sede Municipal,ALAGOAS,5399,6221,6007,5932,5205,4363,4123,4185,4773,5552,5852,6291,6284
27,33855,-36.8133,-10.0571,Olho d'Água Grande,Sede Municipal,ALAGOAS,5321,6069,5904,5799,5144,4314,4098,4159,4736,5465,5763,6206,6201
28,33857,-36.6571,-10.1284,Igreja Nova,Sede Municipal,ALAGOAS,5265,5979,5848,5791,5008,4252,4037,4085,4635,5388,5749,6213,6189
29,33862,-36.1720,-10.1281,Coruripe,Sede Municipal,ALAGOAS,5462,6126,6183,5996,5152,4440,4127,4222,4905,5577,6021,6344,6454
30,34198,-37.0025,-9.9628,Traipu,Sede Municipal,ALAGOAS,5463,6289,6051,5999,5276,4383,4141,4214,4867,5694,5930,6379,6328
31,34201,-36.7929,-9.9559,Campo Grande,Sede Municipal,ALAGOAS,5252,5911,5811,5773,5030,4228,4001,4072,4628,5412,5747,6210,6195

#### Uso de mais de um filtro, é só utilizar mais de um .loc[]

In [39]:
df.loc[df["Estado"] == "ALAGOAS"].loc[df['JAN']>=6000]

,ID,LON,LAT,Cidade,CLASS,Estado,Anual,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
22,32868,-36.4343,-10.4064,Piaçabuçu,Sede Municipal,ALAGOAS,5441,6151,6169,6059,5039,4366,4106,4158,4855,5535,6017,6358,6473
23,33196,-36.5822,-10.2879,Penedo,Sede Municipal,ALAGOAS,5338,6097,5947,5891,5045,4298,4042,4110,4722,5442,5861,6297,6312
24,33198,-36.3031,-10.2939,Feliz Deserto,Sede Municipal,ALAGOAS,5439,6257,6212,6051,5040,4364,4031,4142,4785,5523,6027,6346,6488
25,33523,-36.8379,-10.1853,Porto Real do Colégio,Sede Municipal,ALAGOAS,5434,6333,6118,5996,5239,4349,4101,4151,4716,5538,5903,6349,6408
26,33854,-36.9019,-10.1215,São Brás,Sede Municipal,ALAGOAS,5399,6221,6007,5932,5205,4363,4123,4185,4773,5552,5852,6291,6284
27,33855,-36.8133,-10.0571,Olho d'Água Grande,Sede Municipal,ALAGOAS,5321,6069,5904,5799,5144,4314,4098,4159,4736,5465,5763,6206,6201
29,33862,-36.1720,-10.1281,Coruripe,Sede Municipal,ALAGOAS,5462,6126,6183,5996,5152,4440,4127,4222,4905,5577,6021,6344,6454
30,34198,-37.0025,-9.9628,Traipu,Sede Municipal,ALAGOAS,5463,6289,6051,5999,5276,4383,4141,4214,4867,5694,5930,6379,6328
32,34208,-36.0145,-10.0137,Jequiá da Praia,Sede Municipal,ALAGOAS,5455,6133,6178,6052,5177,4395,4075,4168,4839,5582,6045,6334,6488
33,34550,-36.8319,-9.8845,Girau do Ponciano,Sede Municipal,ALAGOAS,5290,6010,5815,5843,5091,4266,3992,4098,4682,5461,5774,6247,6205
35,34553,-36.5501,-9.9319,São Sebastião,Sede Municipal,ALAGOAS,5258,6023,5811,5804,5061,4293,3991,3969,4642,5368,5711,6221,6205
38,34909,-37.2773,-9.8232,Belo Monte,Sede Municipal,ALAGOAS,5374,6106,5948,5903,5211,4360,4066,4154,4787,5560,5804,6341,6250
39,34914,-36.7401,-9.8294,Lagoa da Canoa,Sede Municipal,ALAGOAS,5316,6065,5840,5855,5113,4249,3977,4120,4683,5450,5821,6324,6290
40,34915,-36.6618,-9.7553,Arapiraca,Sede Municipal,ALAGOAS,5288,6047,5817,5833,5096,4246,3958,4072,4644,5404,5764,6285,6289
42,34921,-36.0974,-9.7834,São Miguel dos Campos,Sede Municipal,ALAGOAS,5319,6011,5976,5945,5026,4323,3963,4050,4611,5438,5844,6326,6311
43,34922,-35.9060,-9.8389,Barra de São Miguel,Sede Municipal,ALAGOAS,5398,6125,6105,6021,5137,4364,3993,4159,4768,5496,5906,6322,6382
44,34922,-35.9785,-9.8355,Roteiro,Sede Municipal,ALAGOAS,5398,6125,6105,6021,5137,4364,3993,4159,4768,5496,5906,6322,6382
45,35270,-37.4407,-9.7415,Pão de Açúcar,Sede Municipal,ALAGOAS,5447,6201,6071,5984,5326,4435,4130,4222,4848,5568,5863,6425,6287
46,35271,-37.3386,-9.6725,Palestina,Sede Municipal,ALAGOAS,5341,6070,5901,5898,5190,4389,4012,4128,4669,5467,5758,6367,6241
47,35273,-37.1279,-9.6735,Batalha,Sede Municipal,ALAGOAS,5309,6067,5785,5811,5152,4279,3975,4097,4724,5504,5731,6323,6261
48,35274,-37.0017,-9.6593,Jaramataia,Sede Municipal,ALAGOAS,5269,6029,5731,5783,5080,4237,3972,4050,4646,5427,5711,6356,6206
49,35279,-36.5034,-9.7407,Limoeiro de Anadia,Sede Municipal,ALAGOAS,5290,6002,5809,5825,5090,4243,3941,4040,4661,5451,5762,6358,6302
51,35286,-35.8970,-9.7101,Marechal Deodoro,Sede Municipal,ALAGOAS,5451,6147,6103,6033,5183,4401,4066,4216,4893,5597,6004,6355,6415
52,35287,-35.7018,-9.6607,Maceió,Capital Estadual,ALAGOAS,5523,6173,6161,6101,5255,4446,4140,4301,5012,5735,6036,6406,6510
53,35633,-37.7598,-9.6089,Piranhas,Sede Municipal,ALAGOAS,5469,6312,6059,5965,5324,4470,4066,4198,4834,5658,5958,6426,6357
54,35637,-37.3834,-9.5581,São José da Tapera,Sede Municipal,ALAGOAS,5405,6159,5971,5949,5272,4358,4012,4163,4737,5538,5919,6483,6298
55,35638,-37.2079,-9.6359,Jacaré dos Homens,Sede Municipal,ALAGOAS,5360,6104,5882,5920,5223,4355,3979,4124,4680,5469,5850,6462,6268
56,35638,-37.2508,-9.6040,Monteirópolis,Sede Municipal,ALAGOAS,5360,6104,5882,5920,5223,4355,3979,4124,4680,5469,5850,6462,6268
57,35643,-36.7700,-9.6182,Craíbas,Sede Municipal,ALAGOAS,5389,6118,5849,5973,5235,4316,3982,4140,4728,5589,5913,6423,6396
58,35645,-36.5848,-9.6339,Coité do Nóia,Sede Municipal,ALAGOAS,5339,6100,5907,5877,5129,4257,3910,4025,4649,5513,5861,6422,6425
64,35652,-35.8230,-9.5695,Satuba,Sede Municipal,ALAGOAS,5360,6047,6015,5950,5087,4306,4008,4137,4761,5515,5875,6307,6310
65,35652,-35.8235,-9.6041,Santa Luzia do Norte,Sede Municipal,ALAGOAS,5360,6047,6015,5950,5087,4306,4008,4137,4761,5515,5875,6307,6310
66,35652,-35.7997,-9.6376,Coqueiro Seco,Sede Municipal,ALAGOAS,5360,6047,6015,5950,5087,4306,4008,4137,4761,5515,5875,6307,6310
67,36003,-37.8270,-9.5037,Olho d'Água do Casado,Sede Municipal,ALAGOAS,5484,6316,6084,5978,5329,4468,4079,4194,4844,5684,5958,6486,6385
68,36007,-37.4579,-9.4703,Senador Rui Palmeira,Sede Municipal,ALAGOAS,5423,6168,6003,5943,5255,4380,4013,4145,4775,5613,5954,6485,6343
69,36008,-37.3759,-9.4837,Carneiros,Sede Municipal,ALAGOAS,5434,6139,5962,5987,5303,4384,4013,4138,4781,5630,5980,6547,6339
70,36009,-37.2958,-9.5335,Olho d'Água das Flores,Sede Municipal,ALAGOAS,5415,6141,5938,6010,5270,4375,3992,4108,4728,5572,5955,6542,6347
71,36010,-37.1912,-9.5181,Olivença,Sede Municipal,ALAGOAS,5384,6180,5922,5972,5198,4341,3965,4086,4661,5507,5936,6502,6339
72,36012,-36.9869,-9.5339,Major Isidoro,Sede Municipal,ALAGOAS,5361,6127,5828,5917,5193,4316,3956,4094,4669,5503,5893,6468,6370
73,36015,-36.6375,-9.5381,Igaci,Sede Municipal,ALAGOAS,5364,6078,5861,5919,5194,4310,3950,4073,4703,5539,5883,6470,6386
78,36026,-35.5523,-9.4636,Paripueira,Sede Municipal,ALAGOAS,5546,6166,6148,6157,5252,4478,4165,4304,5007,5798,6096,6490,6494
79,36380,-37.9990,-9.3858,Delmiro Gouveia,Sede Municipal,ALAGOAS,5467,6317,6064,5961,5278,4437,4022,4161,4780,5686,5993,6511,6389
80,36387,-37.2483,-9.3704,Santana do Ipanema,Sede Municipal,ALAGOAS,5462,6206,5996,6061,5305,4413,4011,4134,4760,5616,6052,6567,6422
81,36389,-37.0896,-9.3874,Dois Riachos,Sede Municipal,ALAGOAS,5415,6185,5924,5955,5239,4381,3964,4119,4744,5595,5979,6487,6412
82,36390,-36.9914,-9.4016,Cacimbinhas,Sede Municipal,ALAGOAS,5381,6101,5881,5913,5183,4355,3949,4113,4707,5570,5929,6472,6399
83,36392,-36.7600,-9.3890,Estrela de Alagoas,Sede Municipal,ALAGOAS,5447,6122,5947,5972,5259,4355,3971,4116,4807,5721,6041,6588,6468
84,36393,-36.6324,-9.4113,Palmeira dos Índios,Sede Municipal,ALAGOAS,5384,6048,5875,5923,5216,4320,3928,4064,4744,5610,5961,6520,6397
91,36404,-35.5104,-9.4027,Barra de Santo Antônio,Sede Municipal,ALAGOAS,5434,6085,6032,6105,5180,4414,4082,4194,4858,5555,5923,6381,6403
92,36757,-37.9991,-9.2568,Pariconha,Sede Municipal,ALAGOAS,5524,6315,6115,5983,5364,4531,4025,4226,4850,5777,6086,6596,6418
93,36758,-37.9383,-9.2624,Água Branca,Sede Municipal,ALAGOAS,5471,6272,6053,5996,5295,4453,3982,4090,4805,5716,6028,6576,6388
94,36765,-37.2848,-9.3049,Poço das Trincheiras,Sede Municipal,ALAGOAS,5455,6174,5955,6005,5302,4397,3956,4176,4735,5754,6084,6553,6367
95,36769,-36.8660,-9.3078,Minador do Negrão,Sede Municipal,ALAGOAS,5405,6084,5924,5917,5264,4374,3951,4085,4728,5631,6000,6480,6416
101,36784,-35.3765,-9.2654,São Miguel dos Milagres,Sede Municipal,ALAGOAS,5595,6273,6118,6238,5333,4511,4196,4346,5092,5819,6133,6525,6557
102,37138,-37.7512,-9.2264,Inhapi,Sede Municipal,ALAGOAS,5525,6360,6124,6057,5343,4446,3947,4116,4842,5757,6175,6670,6470
103,37142,-37.3559,-9.1593,Ouro Branco,Sede Municipal,ALAGOAS,5487,6221,6029,6022,5305,4404,4010,4216,4824,5745,6141,6511,6417
104,37142,-37.3527,-9.2309,Maravilha,Sede Municipal,ALAGOAS,5487,6221,6029,6022,5305,4404,4010,4216,4824,5745,6141,6511,6417
110,37162,-35.3052,-9.1605,Porto de Pedras,Sede Municipal,ALAGOAS,5418,6024,5985,6118,5133,4399,4138,4201,4948,5587,5928,6292,6267
111,37516,-37.7312,-9.1192,Mata Grande,Sede Municipal,ALAGOAS,5617,6423,6143,6096,5432,4563,4058,4229,5011,5932,6276,6695,6547
112,37517,-37.6028,-9.1164,Canapi,Sede Municipal,ALAGOAS,5531,6317,6077,6087,5391,4470,3965,4148,4781,5758,6185,6703,6492
115,37541,-35.2637,-9.0879,Japaratinga,Sede Municipal,ALAGOAS,5518,6124,6043,6202,5228,4469,4201,4277,5043,5720,6130,6378,6406

In [40]:
df.loc[(df["Estado"] == "ALAGOAS") & (df['JAN']>=6000)]

,ID,LON,LAT,Cidade,CLASS,Estado,Anual,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
22,32868,-36.4343,-10.4064,Piaçabuçu,Sede Municipal,ALAGOAS,5441,6151,6169,6059,5039,4366,4106,4158,4855,5535,6017,6358,6473
23,33196,-36.5822,-10.2879,Penedo,Sede Municipal,ALAGOAS,5338,6097,5947,5891,5045,4298,4042,4110,4722,5442,5861,6297,6312
24,33198,-36.3031,-10.2939,Feliz Deserto,Sede Municipal,ALAGOAS,5439,6257,6212,6051,5040,4364,4031,4142,4785,5523,6027,6346,6488
25,33523,-36.8379,-10.1853,Porto Real do Colégio,Sede Municipal,ALAGOAS,5434,6333,6118,5996,5239,4349,4101,4151,4716,5538,5903,6349,6408
26,33854,-36.9019,-10.1215,São Brás,Sede Municipal,ALAGOAS,5399,6221,6007,5932,5205,4363,4123,4185,4773,5552,5852,6291,6284
27,33855,-36.8133,-10.0571,Olho d'Água Grande,Sede Municipal,ALAGOAS,5321,6069,5904,5799,5144,4314,4098,4159,4736,5465,5763,6206,6201
29,33862,-36.1720,-10.1281,Coruripe,Sede Municipal,ALAGOAS,5462,6126,6183,5996,5152,4440,4127,4222,4905,5577,6021,6344,6454
30,34198,-37.0025,-9.9628,Traipu,Sede Municipal,ALAGOAS,5463,6289,6051,5999,5276,4383,4141,4214,4867,5694,5930,6379,6328
32,34208,-36.0145,-10.0137,Jequiá da Praia,Sede Municipal,ALAGOAS,5455,6133,6178,6052,5177,4395,4075,4168,4839,5582,6045,6334,6488
33,34550,-36.8319,-9.8845,Girau do Ponciano,Sede Municipal,ALAGOAS,5290,6010,5815,5843,5091,4266,3992,4098,4682,5461,5774,6247,6205
35,34553,-36.5501,-9.9319,São Sebastião,Sede Municipal,ALAGOAS,5258,6023,5811,5804,5061,4293,3991,3969,4642,5368,5711,6221,6205
38,34909,-37.2773,-9.8232,Belo Monte,Sede Municipal,ALAGOAS,5374,6106,5948,5903,5211,4360,4066,4154,4787,5560,5804,6341,6250
39,34914,-36.7401,-9.8294,Lagoa da Canoa,Sede Municipal,ALAGOAS,5316,6065,5840,5855,5113,4249,3977,4120,4683,5450,5821,6324,6290
40,34915,-36.6618,-9.7553,Arapiraca,Sede Municipal,ALAGOAS,5288,6047,5817,5833,5096,4246,3958,4072,4644,5404,5764,6285,6289
42,34921,-36.0974,-9.7834,São Miguel dos Campos,Sede Municipal,ALAGOAS,5319,6011,5976,5945,5026,4323,3963,4050,4611,5438,5844,6326,6311
43,34922,-35.9060,-9.8389,Barra de São Miguel,Sede Municipal,ALAGOAS,5398,6125,6105,6021,5137,4364,3993,4159,4768,5496,5906,6322,6382
44,34922,-35.9785,-9.8355,Roteiro,Sede Municipal,ALAGOAS,5398,6125,6105,6021,5137,4364,3993,4159,4768,5496,5906,6322,6382
45,35270,-37.4407,-9.7415,Pão de Açúcar,Sede Municipal,ALAGOAS,5447,6201,6071,5984,5326,4435,4130,4222,4848,5568,5863,6425,6287
46,35271,-37.3386,-9.6725,Palestina,Sede Municipal,ALAGOAS,5341,6070,5901,5898,5190,4389,4012,4128,4669,5467,5758,6367,6241
47,35273,-37.1279,-9.6735,Batalha,Sede Municipal,ALAGOAS,5309,6067,5785,5811,5152,4279,3975,4097,4724,5504,5731,6323,6261
48,35274,-37.0017,-9.6593,Jaramataia,Sede Municipal,ALAGOAS,5269,6029,5731,5783,5080,4237,3972,4050,4646,5427,5711,6356,6206
49,35279,-36.5034,-9.7407,Limoeiro de Anadia,Sede Municipal,ALAGOAS,5290,6002,5809,5825,5090,4243,3941,4040,4661,5451,5762,6358,6302
51,35286,-35.8970,-9.7101,Marechal Deodoro,Sede Municipal,ALAGOAS,5451,6147,6103,6033,5183,4401,4066,4216,4893,5597,6004,6355,6415
52,35287,-35.7018,-9.6607,Maceió,Capital Estadual,ALAGOAS,5523,6173,6161,6101,5255,4446,4140,4301,5012,5735,6036,6406,6510
53,35633,-37.7598,-9.6089,Piranhas,Sede Municipal,ALAGOAS,5469,6312,6059,5965,5324,4470,4066,4198,4834,5658,5958,6426,6357
54,35637,-37.3834,-9.5581,São José da Tapera,Sede Municipal,ALAGOAS,5405,6159,5971,5949,5272,4358,4012,4163,4737,5538,5919,6483,6298
55,35638,-37.2079,-9.6359,Jacaré dos Homens,Sede Municipal,ALAGOAS,5360,6104,5882,5920,5223,4355,3979,4124,4680,5469,5850,6462,6268
56,35638,-37.2508,-9.6040,Monteirópolis,Sede Municipal,ALAGOAS,5360,6104,5882,5920,5223,4355,3979,4124,4680,5469,5850,6462,6268
57,35643,-36.7700,-9.6182,Craíbas,Sede Municipal,ALAGOAS,5389,6118,5849,5973,5235,4316,3982,4140,4728,5589,5913,6423,6396
58,35645,-36.5848,-9.6339,Coité do Nóia,Sede Municipal,ALAGOAS,5339,6100,5907,5877,5129,4257,3910,4025,4649,5513,5861,6422,6425
64,35652,-35.8230,-9.5695,Satuba,Sede Municipal,ALAGOAS,5360,6047,6015,5950,5087,4306,4008,4137,4761,5515,5875,6307,6310
65,35652,-35.8235,-9.6041,Santa Luzia do Norte,Sede Municipal,ALAGOAS,5360,6047,6015,5950,5087,4306,4008,4137,4761,5515,5875,6307,6310
66,35652,-35.7997,-9.6376,Coqueiro Seco,Sede Municipal,ALAGOAS,5360,6047,6015,5950,5087,4306,4008,4137,4761,5515,5875,6307,6310
67,36003,-37.8270,-9.5037,Olho d'Água do Casado,Sede Municipal,ALAGOAS,5484,6316,6084,5978,5329,4468,4079,4194,4844,5684,5958,6486,6385
68,36007,-37.4579,-9.4703,Senador Rui Palmeira,Sede Municipal,ALAGOAS,5423,6168,6003,5943,5255,4380,4013,4145,4775,5613,5954,6485,6343
69,36008,-37.3759,-9.4837,Carneiros,Sede Municipal,ALAGOAS,5434,6139,5962,5987,5303,4384,4013,4138,4781,5630,5980,6547,6339
70,36009,-37.2958,-9.5335,Olho d'Água das Flores,Sede Municipal,ALAGOAS,5415,6141,5938,6010,5270,4375,3992,4108,4728,5572,5955,6542,6347
71,36010,-37.1912,-9.5181,Olivença,Sede Municipal,ALAGOAS,5384,6180,5922,5972,5198,4341,3965,4086,4661,5507,5936,6502,6339
72,36012,-36.9869,-9.5339,Major Isidoro,Sede Municipal,ALAGOAS,5361,6127,5828,5917,5193,4316,3956,4094,4669,5503,5893,6468,6370
73,36015,-36.6375,-9.5381,Igaci,Sede Municipal,ALAGOAS,5364,6078,5861,5919,5194,4310,3950,4073,4703,5539,5883,6470,6386
78,36026,-35.5523,-9.4636,Paripueira,Sede Municipal,ALAGOAS,5546,6166,6148,6157,5252,4478,4165,4304,5007,5798,6096,6490,6494
79,36380,-37.9990,-9.3858,Delmiro Gouveia,Sede Municipal,ALAGOAS,5467,6317,6064,5961,5278,4437,4022,4161,4780,5686,5993,6511,6389
80,36387,-37.2483,-9.3704,Santana do Ipanema,Sede Municipal,ALAGOAS,5462,6206,5996,6061,5305,4413,4011,4134,4760,5616,6052,6567,6422
81,36389,-37.0896,-9.3874,Dois Riachos,Sede Municipal,ALAGOAS,5415,6185,5924,5955,5239,4381,3964,4119,4744,5595,5979,6487,6412
82,36390,-36.9914,-9.4016,Cacimbinhas,Sede Municipal,ALAGOAS,5381,6101,5881,5913,5183,4355,3949,4113,4707,5570,5929,6472,6399
83,36392,-36.7600,-9.3890,Estrela de Alagoas,Sede Municipal,ALAGOAS,5447,6122,5947,5972,5259,4355,3971,4116,4807,5721,6041,6588,6468
84,36393,-36.6324,-9.4113,Palmeira dos Índios,Sede Municipal,ALAGOAS,5384,6048,5875,5923,5216,4320,3928,4064,4744,5610,5961,6520,6397
91,36404,-35.5104,-9.4027,Barra de Santo Antônio,Sede Municipal,ALAGOAS,5434,6085,6032,6105,5180,4414,4082,4194,4858,5555,5923,6381,6403
92,36757,-37.9991,-9.2568,Pariconha,Sede Municipal,ALAGOAS,5524,6315,6115,5983,5364,4531,4025,4226,4850,5777,6086,6596,6418
93,36758,-37.9383,-9.2624,Água Branca,Sede Municipal,ALAGOAS,5471,6272,6053,5996,5295,4453,3982,4090,4805,5716,6028,6576,6388
94,36765,-37.2848,-9.3049,Poço das Trincheiras,Sede Municipal,ALAGOAS,5455,6174,5955,6005,5302,4397,3956,4176,4735,5754,6084,6553,6367
95,36769,-36.8660,-9.3078,Minador do Negrão,Sede Municipal,ALAGOAS,5405,6084,5924,5917,5264,4374,3951,4085,4728,5631,6000,6480,6416
101,36784,-35.3765,-9.2654,São Miguel dos Milagres,Sede Municipal,ALAGOAS,5595,6273,6118,6238,5333,4511,4196,4346,5092,5819,6133,6525,6557
102,37138,-37.7512,-9.2264,Inhapi,Sede Municipal,ALAGOAS,5525,6360,6124,6057,5343,4446,3947,4116,4842,5757,6175,6670,6470
103,37142,-37.3559,-9.1593,Ouro Branco,Sede Municipal,ALAGOAS,5487,6221,6029,6022,5305,4404,4010,4216,4824,5745,6141,6511,6417
104,37142,-37.3527,-9.2309,Maravilha,Sede Municipal,ALAGOAS,5487,6221,6029,6022,5305,4404,4010,4216,4824,5745,6141,6511,6417
110,37162,-35.3052,-9.1605,Porto de Pedras,Sede Municipal,ALAGOAS,5418,6024,5985,6118,5133,4399,4138,4201,4948,5587,5928,6292,6267
111,37516,-37.7312,-9.1192,Mata Grande,Sede Municipal,ALAGOAS,5617,6423,6143,6096,5432,4563,4058,4229,5011,5932,6276,6695,6547
112,37517,-37.6028,-9.1164,Canapi,Sede Municipal,ALAGOAS,5531,6317,6077,6087,5391,4470,3965,4148,4781,5758,6185,6703,6492
115,37541,-35.2637,-9.0879,Japaratinga,Sede Municipal,ALAGOAS,5518,6124,6043,6202,5228,4469,4201,4277,5043,5720,6130,6378,6406

#### .groupby() - Faz o agrupamento de dados

- Escolhe por qual coluna quer fazer o agrupamento, dentro do parênteses.
- Utiliza-se um colchetes com o parÂmetro que será utilizado como filtro.
- Usa um método que vai gerar a interação desejada

In [41]:
# Contagem das cidades de cada estado
df.groupby('Estado')['Cidade'].nunique()

Estado
ACRE                    22
ALAGOAS                102
AMAPÁ                   16
AMAZONAS                62
BAHIA                  417
CEARÁ                  184
DISTRITO FEDERAL         1
ESPÍRITO SANTO          78
GOIÁS                  246
MARANHÃO               217
MATO GROSSO            141
MATO GROSSO DO SUL      79
MINAS GERAIS           853
PARANÁ                 399
PARAÍBA                223
PARÁ                   144
PERNAMBUCO             184
PIAUÍ                  224
RIO DE JANEIRO          92
RIO GRANDE DO NORTE    168
RIO GRANDE DO SUL      496
RONDÔNIA                52
RORAIMA                 15
SANTA CATARINA         295
SERGIPE                 75
SÃO PAULO              645
TOCANTINS              139
Name: Cidade, dtype: int64

In [42]:
# Média de irradiação solar anual por estado
df.groupby("Estado")["Anual"].mean()

Estado
ACRE                   4601.818182
ALAGOAS                5326.637255
AMAPÁ                  4705.062500
AMAZONAS               4492.854839
BAHIA                  5245.299760
CEARÁ                  5665.027174
DISTRITO FEDERAL       5252.000000
ESPÍRITO SANTO         4820.974359
GOIÁS                  5297.865854
MARANHÃO               5201.059908
MATO GROSSO            5025.929078
MATO GROSSO DO SUL     4991.772152
MINAS GERAIS           4998.922626
PARANÁ                 4746.513784
PARAÍBA                5649.008969
PARÁ                   4805.798611
PERNAMBUCO             5427.260870
PIAUÍ                  5717.397321
RIO DE JANEIRO         4719.217391
RIO GRANDE DO NORTE    5742.351190
RIO GRANDE DO SUL      4503.439516
RONDÔNIA               4603.134615
RORAIMA                4898.600000
SANTA CATARINA         4304.735593
SERGIPE                5315.506667
SÃO PAULO              4916.093023
TOCANTINS              5213.302158
Name: Anual, dtype: float64

In [43]:
# Desvio padrão da irradiação solar anual por estado
df.groupby("Estado")["Anual"].std()

Estado
ACRE                    62.953223
ALAGOAS                131.843726
AMAPÁ                  112.161472
AMAZONAS                84.558418
BAHIA                  352.382767
CEARÁ                  162.781708
DISTRITO FEDERAL              NaN
ESPÍRITO SANTO         110.694616
GOIÁS                   90.849653
MARANHÃO               209.646111
MATO GROSSO            163.966445
MATO GROSSO DO SUL     119.405466
MINAS GERAIS           296.790668
PARANÁ                 264.165138
PARAÍBA                275.944324
PARÁ                   150.693668
PERNAMBUCO             239.203088
PIAUÍ                  102.363277
RIO DE JANEIRO         164.256421
RIO GRANDE DO NORTE    201.679776
RIO GRANDE DO SUL      143.839783
RONDÔNIA                78.463437
RORAIMA                167.538396
SANTA CATARINA         258.684975
SERGIPE                 86.881929
SÃO PAULO              288.128412
TOCANTINS              175.385565
Name: Anual, dtype: float64

#### .isnull() - Verifica se existe valores nulos

In [44]:
nordeste.isnull()

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
71,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
72,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

#### .isnull().sum() - Verifica a quantidade de nulos

In [45]:
nordeste.isnull().sum()

ID        0
LON       0
LAT       0
NAME      0
CLASS     0
STATE     0
ANNUAL    3
JAN       0
FEB       0
MAR       0
APR       0
MAY       0
JUN       0
JUL       0
AUG       0
SEP       0
OCT       0
NOV       3
DEC       3
dtype: int64

#### .fillna() - Recebe como parâmetro um valor que será colocado em espaços nulos

- inplace=True, parâmetro que substitui o objeto em memória, ou seja salvas modificações

In [46]:
nordeste["ANNUAL"].fillna(nordeste["ANNUAL"].mean(), inplace=True)

nordeste.isnull().sum()

ID        0
LON       0
LAT       0
NAME      0
CLASS     0
STATE     0
ANNUAL    0
JAN       0
FEB       0
MAR       0
APR       0
MAY       0
JUN       0
JUL       0
AUG       0
SEP       0
OCT       0
NOV       3
DEC       3
dtype: int64

In [47]:
nordeste["DEC"].fillna(5700, inplace=True)

nordeste.isnull().sum()

ID        0
LON       0
LAT       0
NAME      0
CLASS     0
STATE     0
ANNUAL    0
JAN       0
FEB       0
MAR       0
APR       0
MAY       0
JUN       0
JUL       0
AUG       0
SEP       0
OCT       0
NOV       3
DEC       0
dtype: int64

#### .dropna() - Remove linhas com valores faltantes

- inplace=True, parâmetro que substitui o objeto em memória, ou seja salvas modificações

- subset=[coluna], parâmetro para apagar linhas com valores nulos com base em uma coluna

- how='all', parâmetro que remove linhas que todas suas colunas estejam como nulas

In [48]:
nordeste.dropna(subset=['NOV'], inplace=True)

nordeste.isnull().sum()

ID        0
LON       0
LAT       0
NAME      0
CLASS     0
STATE     0
ANNUAL    0
JAN       0
FEB       0
MAR       0
APR       0
MAY       0
JUN       0
JUL       0
AUG       0
SEP       0
OCT       0
NOV       0
DEC       0
dtype: int64

In [49]:
nordeste.dropna(how='all', inplace=True)

nordeste.isnull().sum()

ID        0
LON       0
LAT       0
NAME      0
CLASS     0
STATE     0
ANNUAL    0
JAN       0
FEB       0
MAR       0
APR       0
MAY       0
JUN       0
JUL       0
AUG       0
SEP       0
OCT       0
NOV       0
DEC       0
dtype: int64

#### .nlargest() - Utiliza dois parâmetros, o primeiro é a quantidade de linhas que ele deve retornar, o segundo é a coluna que vai ser analisada. No final é retornado os que tiverem os maiores valores da coluna indicada.

In [50]:
df.nlargest(5, "Anual")

,ID,LON,LAT,Cidade,CLASS,Estado,Anual,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
2693,46050,-38.3223,-6.9118,Nazarezinho,Sede Municipal,PARAÍBA,6059,6192,6189,6208,5860,5316,5058,5321,6036,6545,6687,6815,6482
2714,46441,-38.2280,-6.7593,Sousa,Sede Municipal,PARAÍBA,6052,6195,6188,6201,5874,5331,5045,5292,6036,6496,6691,6834,6434
2713,46440,-38.3486,-6.8458,Marizópolis,Sede Municipal,PARAÍBA,6046,6190,6149,6190,5828,5302,5047,5308,6051,6512,6676,6819,6472
2694,46052,-38.1625,-6.9369,São José da Lagoa Tapada,Sede Municipal,PARAÍBA,6042,6121,6145,6189,5888,5347,5050,5279,6061,6549,6675,6791,6410
2652,45271,-38.1684,-7.0922,Aguiar,Sede Municipal,PARAÍBA,6041,6327,6166,6228,5897,5270,4904,5192,5930,6553,6666,6845,6506

#### .nsmallest() - Utiliza dois parâmetros, o primeiro é a quantidade de linhas que ele deve retornar, o segundo é a coluna que vai ser analisada. No final é retornado os que tiverem os menores valores da coluna indicada.

In [51]:
df.nsmallest(7, "FEB")

,ID,LON,LAT,Cidade,CLASS,Estado,Anual,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
135,70034,-50.9091,1.5062,Tartarugalzinho,Sede Municipal,AMAPÁ,4595,4138,3916,3941,3952,4347,4624,4869,5254,5402,5267,5114,4318
136,70357,-50.7839,1.7448,Pracuúba,Sede Municipal,AMAPÁ,4647,4206,3954,3922,3933,4345,4553,4863,5247,5537,5446,5235,4528
133,68955,-51.1799,0.8569,Ferreira Gomes,Sede Municipal,AMAPÁ,4688,4230,4004,4047,4089,4428,4684,4888,5357,5477,5436,5149,4465
132,68946,-52.0040,0.9010,Serra do Navio,Sede Municipal,AMAPÁ,4575,4178,4009,4103,4175,4383,4481,4676,5028,5330,5211,4945,4382
134,69144,-50.7980,0.9690,Cutias,Sede Municipal,AMAPÁ,4719,4301,4015,3931,4015,4438,4793,5030,5425,5513,5450,5200,4517
179,59297,-60.0221,-3.1194,Manaus,Capital Estadual,AMAZONAS,4323,3947,4017,4040,3831,3879,4385,4431,4934,4887,4778,4629,4118
131,68759,-51.9507,0.7771,Pedra Branca do Amapari,Sede Municipal,AMAPÁ,4558,4155,4027,4083,4147,4381,4509,4680,5038,5289,5128,4935,4321

#### .sort_values() - Retorna o conjunto de dados ordenado pela coluna escolhida

In [52]:
df.sort_values("Anual")

,ID,LON,LAT,Cidade,CLASS,Estado,Anual,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
4709,3835,-48.8524,-26.0297,Garuva,Sede Municipal,SANTA CATARINA,3594,4714,4534,3955,3327,2844,2436,2528,3238,3066,3457,4351,4683
2868,4126,-48.8350,-25.4748,Morretes,Sede Municipal,PARANÁ,3785,4998,4849,4180,3535,2929,2557,2623,3348,3182,3660,4557,4997
4692,3620,-49.0745,-26.4121,Schroeder,Sede Municipal,SANTA CATARINA,3787,5017,4791,4237,3523,2928,2456,2563,3275,3198,3704,4726,5022
4699,3674,-48.8491,-26.3050,Joinville,Sede Municipal,SANTA CATARINA,3787,5046,4844,4241,3519,2926,2449,2517,3184,3198,3712,4737,5071
2851,4001,-48.5115,-25.6740,Pontal do Paraná,Sede Municipal,PARANÁ,3802,5120,5032,4266,3527,2931,2469,2512,3200,3157,3666,4631,5117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2652,45271,-38.1684,-7.0922,Aguiar,Sede Municipal,PARAÍBA,6041,6327,6166,6228,5897,5270,4904,5192,5930,6553,6666,6845,6506
2694,46052,-38.1625,-6.9369,São José da Lagoa Tapada,Sede Municipal,PARAÍBA,6042,6121,6145,6189,5888,5347,5050,5279,6061,6549,6675,6791,6410
2713,46440,-38.3486,-6.8458,Marizópolis,Sede Municipal,PARAÍBA,6046,6190,6149,6190,5828,5302,5047,5308,6051,6512,6676,6819,6472
2714,46441,-38.2280,-6.7593,Sousa,Sede Municipal,PARAÍBA,6052,6195,6188,6201,5874,5331,5045,5292,6036,6496,6691,6834,6434
2693,46050,-38.3223,-6.9118,Nazarezinho,Sede Municipal,PARAÍBA,6059,6192,6189,6208,5860,5316,5058,5321,6036,6545,6687,6815,6482

In [53]:
df.sort_values("Anual").head(5)

,ID,LON,LAT,Cidade,CLASS,Estado,Anual,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
4709,3835,-48.8524,-26.0297,Garuva,Sede Municipal,SANTA CATARINA,3594,4714,4534,3955,3327,2844,2436,2528,3238,3066,3457,4351,4683
2868,4126,-48.8350,-25.4748,Morretes,Sede Municipal,PARANÁ,3785,4998,4849,4180,3535,2929,2557,2623,3348,3182,3660,4557,4997
4692,3620,-49.0745,-26.4121,Schroeder,Sede Municipal,SANTA CATARINA,3787,5017,4791,4237,3523,2928,2456,2563,3275,3198,3704,4726,5022
4699,3674,-48.8491,-26.3050,Joinville,Sede Municipal,SANTA CATARINA,3787,5046,4844,4241,3519,2926,2449,2517,3184,3198,3712,4737,5071
2851,4001,-48.5115,-25.6740,Pontal do Paraná,Sede Municipal,PARANÁ,3802,5120,5032,4266,3527,2931,2469,2512,3200,3157,3666,4631,5117

#### ascending=False, parâmetro que faz com que a ordem seja do menor para o maior

In [54]:
df.sort_values("Anual", ascending=True).head(10)

,ID,LON,LAT,Cidade,CLASS,Estado,Anual,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
4709,3835,-48.8524,-26.0297,Garuva,Sede Municipal,SANTA CATARINA,3594,4714,4534,3955,3327,2844,2436,2528,3238,3066,3457,4351,4683
2868,4126,-48.8350,-25.4748,Morretes,Sede Municipal,PARANÁ,3785,4998,4849,4180,3535,2929,2557,2623,3348,3182,3660,4557,4997
4692,3620,-49.0745,-26.4121,Schroeder,Sede Municipal,SANTA CATARINA,3787,5017,4791,4237,3523,2928,2456,2563,3275,3198,3704,4726,5022
4699,3674,-48.8491,-26.3050,Joinville,Sede Municipal,SANTA CATARINA,3787,5046,4844,4241,3519,2926,2449,2517,3184,3198,3712,4737,5071
2851,4001,-48.5115,-25.6740,Pontal do Paraná,Sede Municipal,PARANÁ,3802,5120,5032,4266,3527,2931,2469,2512,3200,3157,3666,4631,5117
2889,4192,-48.7195,-25.4391,Antonina,Sede Municipal,PARANÁ,3825,5038,4924,4288,3609,2956,2571,2570,3318,3209,3671,4641,5106
2838,3946,-48.5494,-25.8241,Matinhos,Sede Municipal,PARANÁ,3845,5271,5060,4337,3584,2931,2459,2503,3175,3193,3722,4745,5155
4750,5315,-46.4244,-23.8916,Cubatão,Sede Municipal,SÃO PAULO,3865,4816,5034,4196,3778,3143,2823,2861,3507,3395,3709,4218,4900
4656,3461,-49.2723,-26.7403,Rio dos Cedros,Sede Municipal,SANTA CATARINA,3873,5205,4937,4348,3568,2930,2446,2593,3314,3281,3755,4863,5234
4657,3462,-49.1789,-26.7388,Pomerode,Sede Municipal,SANTA CATARINA,3880,5261,5010,4399,3576,2939,2437,2575,3241,3267,3714,4862,5275

## Criando colunas

- Para criar novas colunas, precisa-se apenas declarar a variável com um nome de coluna ainda não utilizado e atribuir valores

In [55]:
nordeste['Total_anual'] = nordeste['JAN'] + nordeste['FEB'] + nordeste['MAR'] + nordeste['APR'] + nordeste['MAY'] + nordeste['JUN'] + nordeste['JUL'] + nordeste['AUG'] + nordeste['SEP'] + nordeste['OCT'] + nordeste['NOV'] + nordeste['DEC']

nordeste.head()

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total_anual
0,32868,-36.4343,-10.4064,Piaçabuçu,Sede Municipal,ALAGOAS,5441.0,6151,6169,6059,5039,4366,4106,4158,4855,5535,6017,6358.0,6473.0,65286.0
1,33196,-36.5822,-10.2879,Penedo,Sede Municipal,ALAGOAS,5338.0,6097,5947,5891,5045,4298,4042,4110,4722,5442,5861,6297.0,6312.0,64064.0
2,33198,-36.3031,-10.2939,Feliz Deserto,Sede Municipal,ALAGOAS,5439.0,6257,6212,6051,5040,4364,4031,4142,4785,5523,6027,6346.0,6488.0,65266.0
3,33523,-36.8379,-10.1853,Porto Real do Colégio,Sede Municipal,ALAGOAS,5434.0,6333,6118,5996,5239,4349,4101,4151,4716,5538,5903,6349.0,6408.0,65201.0
4,33854,-36.9019,-10.1215,São Brás,Sede Municipal,ALAGOAS,5399.0,6221,6007,5932,5205,4363,4123,4185,4773,5552,5852,6291.0,6284.0,64788.0

In [56]:
nordeste['Media_S1'] = (nordeste['JAN'] + nordeste['FEB'] + nordeste['MAR'] + nordeste['APR'] + nordeste['MAY'] + nordeste['JUN'])/6

nordeste.head()

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,...,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total_anual,Media_S1
0,32868,-36.4343,-10.4064,Piaçabuçu,Sede Municipal,ALAGOAS,5441.0,6151,6169,6059,...,4366,4106,4158,4855,5535,6017,6358.0,6473.0,65286.0,5315.000000
1,33196,-36.5822,-10.2879,Penedo,Sede Municipal,ALAGOAS,5338.0,6097,5947,5891,...,4298,4042,4110,4722,5442,5861,6297.0,6312.0,64064.0,5220.000000
2,33198,-36.3031,-10.2939,Feliz Deserto,Sede Municipal,ALAGOAS,5439.0,6257,6212,6051,...,4364,4031,4142,4785,5523,6027,6346.0,6488.0,65266.0,5325.833333
3,33523,-36.8379,-10.1853,Porto Real do Colégio,Sede Municipal,ALAGOAS,5434.0,6333,6118,5996,...,4349,4101,4151,4716,5538,5903,6349.0,6408.0,65201.0,5356.000000
4,33854,-36.9019,-10.1215,São Brás,Sede Municipal,ALAGOAS,5399.0,6221,6007,5932,...,4363,4123,4185,4773,5552,5852,6291.0,6284.0,64788.0,5308.500000

In [57]:
nordeste['Media_S2'] = (nordeste['JUL'] + nordeste['AUG'] + nordeste['SEP'] + nordeste['OCT'] + nordeste['NOV'] + nordeste['DEC'])/6

nordeste.head()

,ID,LON,LAT,NAME,CLASS,STATE,ANNUAL,JAN,FEB,MAR,...,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total_anual,Media_S1,Media_S2
0,32868,-36.4343,-10.4064,Piaçabuçu,Sede Municipal,ALAGOAS,5441.0,6151,6169,6059,...,4106,4158,4855,5535,6017,6358.0,6473.0,65286.0,5315.000000,5566.000000
1,33196,-36.5822,-10.2879,Penedo,Sede Municipal,ALAGOAS,5338.0,6097,5947,5891,...,4042,4110,4722,5442,5861,6297.0,6312.0,64064.0,5220.000000,5457.333333
2,33198,-36.3031,-10.2939,Feliz Deserto,Sede Municipal,ALAGOAS,5439.0,6257,6212,6051,...,4031,4142,4785,5523,6027,6346.0,6488.0,65266.0,5325.833333,5551.833333
3,33523,-36.8379,-10.1853,Porto Real do Colégio,Sede Municipal,ALAGOAS,5434.0,6333,6118,5996,...,4101,4151,4716,5538,5903,6349.0,6408.0,65201.0,5356.000000,5510.833333
4,33854,-36.9019,-10.1215,São Brás,Sede Municipal,ALAGOAS,5399.0,6221,6007,5932,...,4123,4185,4773,5552,5852,6291.0,6284.0,64788.0,5308.500000,5489.500000

In [58]:
nordeste.groupby("STATE")["ANNUAL"].std()

STATE
ALAGOAS                133.323503
BAHIA                  352.382767
CEARÁ                  162.781708
MARANHÃO               209.646111
PARAÍBA                275.944324
PERNAMBUCO             238.526406
PIAUÍ                  100.745570
RIO GRANDE DO NORTE    201.679776
SERGIPE                 86.881929
Name: ANNUAL, dtype: float64

## Excluindo colunas

In [59]:
del nordeste['ID']
del nordeste['LON']
del nordeste['LAT']
del nordeste ['CLASS']

In [60]:
nordeste.tail()

,NAME,STATE,ANNUAL,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total_anual,Media_S1,Media_S2
70,Monte Alegre de Sergipe,SERGIPE,5299.0,6026,5899,5862,5126,4283,3971,4131,4701,5468,5697,6223.0,6200.0,63587.0,5194.500000,5403.333333
71,Gararu,SERGIPE,5463.0,6289,6051,5999,5276,4383,4141,4214,4867,5694,5930,6379.0,6328.0,65551.0,5356.500000,5568.666667
72,Porto da Folha,SERGIPE,5424.0,6271,6043,5901,5202,4328,4078,4200,4783,5631,5887,6439.0,6322.0,65085.0,5303.833333,5543.666667
73,Poço Redondo,SERGIPE,5343.0,6148,5947,5916,5167,4339,3969,4082,4629,5465,5801,6345.0,6311.0,64119.0,5247.666667,5438.833333
74,Canindé de São Francisco,SERGIPE,5432.0,6323,6069,5960,5280,4374,4000,4105,4794,5540,5905,6427.0,6402.0,65179.0,5334.333333,5528.833333

## Trabalhando com datas

In [61]:
arquivo = 'global.xlsx'
df = pandas.read_excel(arquivo)
del df['ID']
df.head()

           Cidade Estado Região       Data  ANNUAL
0       Brasiléia   ACRE  NORTE 2022-11-30  4620.0
1  Epitaciolândia   ACRE  NORTE 2022-12-01  4620.0
2    Assis Brasil   ACRE  NORTE 2022-11-20  4615.0
3          Xapuri   ACRE  NORTE 2022-11-21  4607.0
4        Capixaba   ACRE  NORTE 2022-11-22  4542.0

In [62]:
# A data está no formato datetime como padrão
df.dtypes

Cidade            object
Estado            object
Região            object
Data      datetime64[ns]
ANNUAL           float64
dtype: object

In [63]:
# Transformar a coluna de data em tipo inteiro
df['Data'] = df['Data'].astype('int64')

df.dtypes

Cidade     object
Estado     object
Região     object
Data        int64
ANNUAL    float64
dtype: object

In [64]:
df.head()

           Cidade Estado Região                 Data  ANNUAL
0       Brasiléia   ACRE  NORTE  1669766400000000000  4620.0
1  Epitaciolândia   ACRE  NORTE  1669852800000000000  4620.0
2    Assis Brasil   ACRE  NORTE  1668902400000000000  4615.0
3          Xapuri   ACRE  NORTE  1668988800000000000  4607.0
4        Capixaba   ACRE  NORTE  1669075200000000000  4542.0

#### .to_datetime() - Transforma uma determinada coluna no formato datetime

In [65]:
df['Data'] = pandas.to_datetime(df['Data'])

df.head()

           Cidade Estado Região       Data  ANNUAL
0       Brasiléia   ACRE  NORTE 2022-11-30  4620.0
1  Epitaciolândia   ACRE  NORTE 2022-12-01  4620.0
2    Assis Brasil   ACRE  NORTE 2022-11-20  4615.0
3          Xapuri   ACRE  NORTE 2022-11-21  4607.0
4        Capixaba   ACRE  NORTE 2022-11-22  4542.0

#### .dt.year - Utiliza apenas o ano da data

In [66]:
df['Data'].dt.year

0       2022
1       2022
2       2022
3       2022
4       2022
        ...
5564    2022
5565    2022
5566    2022
5567    2022
5568    2022
Name: Data, Length: 5569, dtype: int64

In [67]:
df['Data'].dt.year.unique()

array([2022, 2023, 2021])

In [68]:
df.groupby(df['Data'].dt.year)['ANNUAL'].mean()

Data
2021    5494.333333
2022    5056.818020
2023    4819.300990
Name: ANNUAL, dtype: float64

In [69]:
df.loc[df["Data"].dt.year == 2023].loc[df['ANNUAL'] >= 5300]

                        Cidade       Estado        Região       Data  ANNUAL
556                      Barra        BAHIA      NORDESTE 2023-01-02  5969.0
557                    Central        BAHIA      NORDESTE 2023-01-03  5836.0
560       Formosa do Rio Preto        BAHIA      NORDESTE 2023-01-06  5789.0
561       Santa Rita de Cássia        BAHIA      NORDESTE 2023-01-07  5865.0
562          Itaguaçu da Bahia        BAHIA      NORDESTE 2023-01-08  6006.0
563                    Jussara        BAHIA      NORDESTE 2023-01-09  5846.0
564                 Ourolândia        BAHIA      NORDESTE 2023-01-10  5419.0
568                     Tucano        BAHIA      NORDESTE 2023-01-14  5325.0
572                Xique-Xique        BAHIA      NORDESTE 2023-01-18  6021.0
576                   Mansidão        BAHIA      NORDESTE 2023-01-22  5809.0
577                 Buritirama        BAHIA      NORDESTE 2023-01-23  5901.0
578                  Umburanas        BAHIA      NORDESTE 2023-01-24  5592.0
589              Campo Formoso        BAHIA      NORDESTE 2023-02-04  5324.0
591          Euclides da Cunha        BAHIA      NORDESTE 2023-02-06  5360.0
1015           Buriti de Goiás        GOIÁS  CENTRO-OESTE 2023-01-04  5303.0
1016             Sanclerlândia        GOIÁS  CENTRO-OESTE 2023-01-05  5308.0
1023        Petrolina de Goiás        GOIÁS  CENTRO-OESTE 2023-01-12  5312.0
1029               Novo Brasil        GOIÁS  CENTRO-OESTE 2023-01-18  5311.0
1031                 Jesúpolis        GOIÁS  CENTRO-OESTE 2023-01-20  5314.0
1036    São Francisco de Goiás        GOIÁS  CENTRO-OESTE 2023-01-25  5308.0
1041                Itapirapuã        GOIÁS  CENTRO-OESTE 2023-01-30  5301.0
1044                Cabeceiras        GOIÁS  CENTRO-OESTE 2023-02-02  5511.0
1046                   Jaraguá        GOIÁS  CENTRO-OESTE 2023-02-04  5309.0
1051             Vila Propício        GOIÁS  CENTRO-OESTE 2023-02-09  5332.0
1052                Planaltina        GOIÁS  CENTRO-OESTE 2023-02-10  5407.0
1053                   Formosa        GOIÁS  CENTRO-OESTE 2023-02-11  5447.0
1064                  Britânia        GOIÁS  CENTRO-OESTE 2023-02-22  5348.0
1419               Nova Nazaré  MATO GROSSO  CENTRO-OESTE 2023-01-06  5317.0
5419                   Propriá      SERGIPE      NORDESTE 2023-01-01  5434.0
5420                     Telha      SERGIPE      NORDESTE 2023-01-02  5434.0
5421                     Itabi      SERGIPE      NORDESTE 2023-01-03  5306.0
5422  Nossa Senhora de Lourdes      SERGIPE      NORDESTE 2023-01-04  5370.0
5423                   Canhoba      SERGIPE      NORDESTE 2023-01-05  5399.0
5424   Amparo de São Francisco      SERGIPE      NORDESTE 2023-01-06  5399.0
5426                    Gararu      SERGIPE      NORDESTE 2023-01-08  5463.0
5427            Porto da Folha      SERGIPE      NORDESTE 2023-01-09  5424.0
5428              Poço Redondo      SERGIPE      NORDESTE 2023-01-10  5343.0
5429  Canindé de São Francisco      SERGIPE      NORDESTE 2023-01-11  5432.0

#### .dt.month - Utiliza apenas o mês da data

In [70]:
df.groupby(df['Data'].dt.month)['ANNUAL'].std()

Data
1     452.426330
2     387.224806
3     476.629603
4     240.355444
5     279.249438
6     377.238303
7     546.512390
8     434.663934
9     435.027911
10    450.693495
11    378.043657
12    378.259207
Name: ANNUAL, dtype: float64

#### .dt.day - Utiliza apenas o dia da data

In [71]:
df.loc[df["Data"].dt.day >= 30]

                  Cidade     Estado    Região       Data  ANNUAL
0              Brasiléia       ACRE     NORTE 2022-11-30  4620.0
12                Jordão       ACRE     NORTE 2022-11-30  4640.0
13        Sena Madureira       ACRE     NORTE 2022-10-31  4539.0
50                Anadia    ALAGOAS  NORDESTE 2022-04-30  5234.0
80    Santana do Ipanema    ALAGOAS  NORDESTE 2022-05-30  5462.0
...                  ...        ...       ...        ...     ...
5502            Rio Sono  TOCANTINS     NORTE 2022-09-30  5308.0
5532          Pau D'Arco  TOCANTINS     NORTE 2022-10-30  5021.0
5533          Filadélfia  TOCANTINS     NORTE 2022-10-31  5178.0
5546             Xambioá  TOCANTINS     NORTE 2022-10-30  5002.0
5547           Riachinho  TOCANTINS     NORTE 2022-10-31  5001.0

[290 rows x 5 columns]

#### .dt.quarter - Utiliza apenas o trimestre da data

In [72]:
df.loc[df["Data"].dt.quarter == 3]

                        Cidade     Estado    Região       Data  ANNUAL
112                     Canapi    ALAGOAS  NORDESTE 2022-07-01  5531.0
113              Joaquim Gomes    ALAGOAS  NORDESTE 2022-07-02  4983.0
114                Porto Calvo    ALAGOAS  NORDESTE 2022-07-03  5350.0
115                Japaratinga    ALAGOAS  NORDESTE 2022-07-04  5518.0
116           São José da Laje    ALAGOAS  NORDESTE 2022-07-05  5080.0
...                        ...        ...       ...        ...     ...
5498                 Miranorte  TOCANTINS     NORTE 2022-09-26  5186.0
5499                   Caseara  TOCANTINS     NORTE 2022-09-27  5118.0
5500  Dois Irmãos do Tocantins  TOCANTINS     NORTE 2022-09-28  5135.0
5501              Rio dos Bois  TOCANTINS     NORTE 2022-09-29  5156.0
5502                  Rio Sono  TOCANTINS     NORTE 2022-09-30  5308.0

[1651 rows x 5 columns]

#### Calculando a diferença de dias

In [73]:
df['diferença_dias'] = df['Data'] - df['Data'].min()

df.sample(5)

,Cidade,Estado,Região,Data,ANNUAL,diferença_dias
4819,Paraibuna,SÃO PAULO,SUDESTE,2022-12-13,4660.0,349 days
1773,Santa Cruz de Minas,MINAS GERAIS,SUDESTE,2022-11-12,4806.0,318 days
1695,Cabo Verde,MINAS GERAIS,SUDESTE,2022-08-26,4846.0,240 days
5110,Pongaí,SÃO PAULO,SUDESTE,2022-11-28,5138.0,334 days
2115,Joanésia,MINAS GERAIS,SUDESTE,2022-10-29,4913.0,304 days

In [74]:
# 15 de março de 2023
data = df.loc[(df['Data'].dt.day == 15) & (df['Data'].dt.month == 3)].loc[df['Data'].dt.year == 2023]

data.head()

,Cidade,Estado,Região,Data,ANNUAL,diferença_dias
3042,Santana do Itararé,PARANÁ,SUL,2023-03-15,4768.0,441 days
4109,Antônio Prado,RIO GRANDE DO SUL,SUL,2023-03-15,4427.0,441 days
4575,Tunápolis,SANTA CATARINA,SUL,2023-03-15,4614.0,441 days