# 04 - Utilizando Textos

## Tipos de string em python

#### Aspas duplas

In [226]:
n = "Primeiro texto"

#### Aspas simples

In [227]:
m = ' - Segundo texto'

#### Uso de três aspas, simples ou dupla

Permite colocar o texto em mais de uma linha

In [228]:
menu = '''
===========================
           Menu
===========================
'''

texto = """
Utilizando três aspas, simples ou duplas,
pode-se  criar strings de múltiplas linhas
"""

## Multiplicando Strings

Utilizando o símbolo * pode se mutiplicar um caractere ou sequência de caracteres de uma string, pelo número da direita.

In [229]:
print('=~' * 25)

=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~

## Juntando Strings

#### Utiliza-se o sinal de + para juntar duas strings

In [230]:
nome = "Angelo" + " Bardy"
print(nome)

print(n + m)

Angelo Bardy
Primeiro texto - Segundo texto

#### Para juntar uma string e um tipo diferente, precisa primeiro transformar o dado

In [231]:
idade = 67
jovem = False
dados = nome + "\nidade: " + str(idade) + "\njovem: " + str(jovem)
print(dados)

Angelo Bardy
idade: 67
jovem: False

#### A vírgula consegue juntar variáveis, e coloca um espaço entre elas

In [232]:
print(nome, idade, jovem)

Angelo Bardy 67 False

## .format()

#### Permite fazer a junção de objetos dentro da própria string

Máscara - são as chaves utilizadas dentro da string, essa máscara será substituida pelo objeto dentro do método format.

In [233]:
mostrar_nome = "Nome: {}".format(nome)
print(mostrar_nome)

Nome: Angelo Bardy

Pode-se utilizar mais de uma máscara, e mais de um objeto, mas colocando na mesma ordem que está no format.

In [234]:
mostrar_dados = '''
Nome: {}
Idade: {}
Jovem: {}
'''.format(nome, idade, jovem)
print (mostrar_dados)

Nome: Angelo Bardy
Idade: 67
Jovem: False

Também é possível colocar em outras ordens o valor do format, ou repetir um valor mais de uma vez.

Basta associar as variáveis com um parâmetro, que você nomeia, e os parâmetros criados são retornados dentro das máscaras.

In [235]:
mostrar_dados = '''
Nome: {s}
Idade: {n}
Jovem: {v}
Idade {n} e nome {s}
'''.format(n=idade, v=jovem, s=nome)
print (mostrar_dados)

Nome: Angelo Bardy
Idade: 67
Jovem: False
Idade 67 e nome Angelo Bardy

#### Utilização de dicionário dentro do .format()

Um dicionário pode ser chamado dentro do método format, utilizando **.

Dentro das máscaras chama os valores do dicionário pelas chaves do dicionário.

In [236]:
dicionario = {'nome':nome, 
              'idade':idade, 
              'jovem':jovem, 
              'velho': not jovem}
mostrar_dados = """
Nome: {nome}
Idade: {idade}
Velho: {velho}
Jovem: {jovem}
""".format(**dicionario)
print(mostrar_dados)

Nome: Angelo Bardy
Idade: 67
Velho: True
Jovem: False

## f string

#### Permite a junção de objetos na string de forma mais facilitada e ágil

Antes das aspas da string coloca-se o f e dentro das máscaras colocam-se os objetos.

In [237]:
mostrar_dados = f'''
Nome : {nome}
Idade: {idade}
Jovem: {jovem}
Velho: {not jovem}
'''

print(mostrar_dados)

Nome : Angelo Bardy
Idade: 67
Jovem: False
Velho: True

## .join()

Junta os valores de um texto ou de uma lista em um novo texto

#### Utilizando um texto

- Lado esquerdo do .join() fica o caractere ou a sequência de caracteres entre aspas, que vão fazr a alteração no texto
- Lado direito do .join(), dentro dos parênteses fica a string que será modificada

In [238]:
nome = '.'.join(nome)
print(nome)

A.n.g.e.l.o. .B.a.r.d.y

#### Utilizando listas

- Lado esquerdo do .join() fica o caractere de junção dos elementos da lista.
- Lado direito do .join() dentro dos parênteses fica a lista.
- Todos os elementos da lista devem ser strings.

In [239]:
lista = ['Angelo','Bardy','Idade','27']
nome = ' '.join(lista)
print(nome)

Angelo Bardy Idade 27

## len() 

- Faz a contagem dos elementos de uma sequêcia (string, listas, tuplas, dicionários, entre outros)

In [276]:
print(len(nome))

21

## .find()

#### .find() - Mostra a primeira ocorrência (posição, índice) do caractere ou sequência de caracteres

In [277]:
print(nome.find('e'))

3

#### Determinando a posição, considera a procura a partir daquela posição

In [278]:
print(nome.find('e', 4))

14

#### .rfind() - Mostra a ocorrência a partir da direita

In [279]:
print(nome.rfind('e'))

17

## .count()

#### .count() - Mostra a quantidade de vezes que um caractere ou string aparecem dentro de um texto.

In [280]:
print(nome.count('e'))

3

#### Pode-se considerar a partir de uma primeira posição indicada

In [281]:
print(nome.count('e', 4))

2

#### Considerando a partir de uma posição inicial e uma posição final

In [282]:
print(nome.count('e',4,17))

1

## Parâmetros do print()

#### end - Muda o último caractere da função print, que já vem com a função \n

In [1]:
print('Teste', end = '-')

Teste-