# 05 - Formatando Textos
#### Quantidade mínima de caracteres, o número colocado após os dois pontos diz a quantidade mínima de caracteres, se não for oculpado por nenhum outro utiliza-se espaços.

In [12]:
nome =  'Angelo Bardy Idade 27'

In [13]:
print('Nome: {:40}Teste'.format(nome))
print(f'Nome: {nome:40}Teste')

Nome: Angelo Bardy Idade 27                   Teste
Nome: Angelo Bardy Idade 27                   Teste

#### Alinhar à direita >

In [14]:
idade = 67

In [15]:
print('{:>40}'.format(idade))
print(f'{idade:>40}')

                                      67
                                      67

#### Alinhar à esquerda <

In [16]:
print('{:<40}'.format(idade))
print(f'{idade:<40}')

67
67

#### Alinha ao centro ^

In [17]:
print('{:^40}'.format(idade))
print(f'{idade:^40}')

                   67
                   67

#### Definindo caracteres no alinhamento, o caractere utilizado antes do símbolo de alinhamento subtituirá os espaços

In [18]:
print('{:=>40}'.format(idade))
print(f'{idade:.>40}')

print('{:-<40}'.format(idade))
print(f'{idade:~<40}')

print('{:+^40}'.format(idade))
print(f'{idade:*^40}')

======================================67
......................................67
67--------------------------------------
67~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+++++++++++++++++++67+++++++++++++++++++
*******************67*******************

## .center()

- Funciona de forma similar ao alinhamento do centro, dentro do método, coloca-se o tamanho mínimo dos caracteres e se vai substituir os espaços por algum caractere.

In [19]:
print(nome.center(100))
print(nome.center(100, '='))

                                       Angelo Bardy Idade 27
=======================================Angelo Bardy Idade 27========================================

## .ljust()

- Funciona de forma similar ao alinhamento à esquerda, dentro do método, coloca-se o tamanho mínimo dos caracteres e se vai substituir os espaços por algum caractere.

In [20]:
print(nome.ljust(100))
print(nome.ljust(100, '='))

Angelo Bardy Idade 27
Angelo Bardy Idade 27===============================================================================

## .rjust()

- Funciona de forma similar ao alinhamento à direita, dentro do método, coloca-se o tamanho mínimo dos caracteres e se vai substituir os espaços por algum caractere.

In [21]:
print(nome.rjust(100))
print(nome.rjust(100, '='))

                                                                               Angelo Bardy Idade 27
===============================================================================Angelo Bardy Idade 27

## .replace()

- Troca uma parte do texto de uma String, por outro texto.
- Texto que será trocado como primeiro parâmetro
- Texto novo como segundo parâmetro

In [22]:
nome = nome.replace('Idade', 'Teste')
print(nome)

Angelo Bardy Teste 27

## Transformar a caixa das letras

#### .upper() - Transforma todas as letras em maiúsculo

In [23]:
print('teste'.upper())
print(nome.upper())

TESTE
ANGELO BARDY TESTE 27

#### .lower() - Transforma todas as letras em minúsculo

In [24]:
print('teste'.lower())
print(nome.lower())

teste
angelo bardy teste 27

#### .capitalize() - Apenas a primeira letra fica maiúscula

In [25]:
print('teste de texto'.capitalize())
print(nome.capitalize())

Teste de texto
Angelo bardy teste 27

#### .title() - Primeira letra de cada palavra fica maiúscula

In [26]:
print('teste de texto'.title())
print(nome.title())

Teste De Texto
Angelo Bardy Teste 27

## Excluindo espaços

In [27]:
texto = "                  Teste                    "

#### .rstrip() - Exclui os espaços do lado direito do texto

In [28]:
print(texto.rstrip())

                  Teste

#### .lstrip() - Exclui os espaços do lado esquerdo do texto

In [29]:
print(texto.lstrip())

Teste

#### .strip() - Exclui os espaços do lado esquerdo e direito do texto

In [30]:
print(texto.strip())

Teste

## Separando caracteres

#### .split() - Separa as palavras por um caractere indicado em uma lista, quando não se indica o caractere é utilizado o espaço.

In [31]:
nome1 = nome.split()
nome2 = nome.split('e')

print(nome1)
print(nome2)

['Angelo', 'Bardy', 'Teste', '27']
['Ang', 'lo Bardy T', 'st', ' 27']

#### .rsplit() - Separa as palavras pela direita

In [32]:
nome1 = nome.rsplit()
nome2 = nome.rsplit('e')

print(nome1)
print(nome2)

['Angelo', 'Bardy', 'Teste', '27']
['Ang', 'lo Bardy T', 'st', ' 27']

#### Guardando valores em várias variáveis

In [33]:
nome, idade, data = input('Digite Nome, idade e data separados por espaço: ').split()
print(nome)
print(idade)
print(data)

Teste
63
12/11/2023