# 12 - Tuplas

- São objetos que podem possuir um ou mais elementos, e não podem ser modificados. Os elementos ficam dentro de parênteses.

## Representando tuplas

### Utilização de parênteses

In [27]:
tupla1 = (1,2,3,4,5,5)

print(tupla1)
print(type(tupla1))

(1, 2, 3, 4, 5, 5)
<class 'tuple'>

### Existe uma diferença na criação de tuplas de elemento único, se não tiver a vírgula após o elemento ele pode não ser considerado como uma tupla

In [28]:
tupla = ('carro',)
print(tupla)
print(type(tupla))

('carro',)
<class 'tuple'>

In [29]:
string = ('carro')
print(string)
print(type(string))

carro
<class 'str'>

### Utilização de vírgulas

- Colocando elementos apenas separados por vírgula o Python já reconhece como uma tupla.

In [30]:
tupla2 = 'Brasil', 'Argentina', 'Chile', 'Peru'

print(tupla2)
print(type(tupla2))

('Brasil', 'Argentina', 'Chile', 'Peru')
<class 'tuple'>

In [31]:
tupla3 = 'Ceará',

print(tupla3)
print(type(tupla3))

('Ceará',)
<class 'tuple'>

### Convertendo outros objetos em tupla

In [32]:
lista = ['Fortaleza', 'Aquiraz', 'Sobral', 'Quixadá']
tupla4 = tuple(lista)

print(tupla4)
print(type(tupla4))

('Fortaleza', 'Aquiraz', 'Sobral', 'Quixadá')
<class 'tuple'>

In [33]:
tupla5 = tuple()

print(tupla5)
print(type(tupla5))

()
<class 'tuple'>

In [34]:
letras = tuple("python")
print(letras)

('p', 'y', 't', 'h', 'o', 'n')

## Atribuindo valores de uma tupla para variáveis

In [35]:
pais1, pais2, pais3, pais4 = tupla2

print(pais1, pais2, pais3, pais4)

Brasil Argentina Chile Peru

## Manipulação de tuplas - Slicing

#### Elemento da posição indicada

In [36]:
print(tupla4[3])

Quixadá

#### Elementos entre a posição inicial e a final, o último número é excludente

In [37]:
print(tupla4[1:3])

('Aquiraz', 'Sobral')

#### Elementos entre a posição incical e a final, com saltos diferentes de 1

In [38]:
print(tupla4[0:4:2])

('Fortaleza', 'Sobral')

#### Elementos antes do último indicado

In [39]:
print(tupla4[:3])

('Fortaleza', 'Aquiraz', 'Sobral')

#### Elementos após o primeiro indicado

In [40]:
print(tupla4[1:])

('Aquiraz', 'Sobral', 'Quixadá')

#### Todos os elementos com passo diferente de 1

In [41]:
print(tupla4[::3])

('Fortaleza', 'Quixadá')

#### Passo inverso

In [42]:
print(tupla4[::-1])

('Quixadá', 'Sobral', 'Aquiraz', 'Fortaleza')

#### Todos os elementos após o primeiro indicado, com passo diferente de 1

In [43]:
print(tupla4[2::2])

('Sobral',)

#### Todos os elementos antes do último indicado, com passo diferente de 1

In [44]:
print(tupla4[:3:2])

('Fortaleza', 'Sobral')

## Métodos e funções

#### .count() - Retorna quantas vezes aparece o elemento no objeto indicado

In [45]:
print(tupla1.count(5))

2

#### .index() - Retorna a posição de um elemento, a partir da primeira ocorrência ou a partir da posição indicada

In [46]:
print(tupla4.index('Aquiraz'))
print(tupla1.index(5, 5))

1
5

#### min() - Retorna o menor valor do objeto
#### max() - Retorna o maior valor do objeto
#### sum() - Soma os valores do objeto

In [47]:
print(min(tupla1))
print(max(tupla1))
print(sum(tupla1))

1
5
20

#### len() - Mostra a quantidade de elementos do objeto

In [48]:
print(len(tupla4))

4

## Imprimindo os valores de uma tupla

- O sinal de asterisco antes da tupla, mostra os valores separados, como se guardado em variáveis diferentes.

In [49]:
print(*tupla4)

Fortaleza Aquiraz Sobral Quixadá

## Comando DEL

#### del - Deleta o objeto selecionado

In [50]:
del tupla2

In [51]:
print(tupla2)

NameError: name 'tupla2' is not defined

| [Estruturas de Repetição](https://github.com/NandesLima/python-codigos/blob/master/codigos/11-estrutura-de-repeticao.ipynb) | [Listas](https://github.com/NandesLima/python-codigos/blob/master/codigos/13-listas.ipynb) |
| --------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------ |