# 04 - Manipulando Textos

## Formatos de texto

#### Aspas duplas

In [226]:
n = "Primeiro texto"

#### Aspas simples

In [227]:
m = ' - Segundo texto'

#### Uso de três aspas, simples ou dupla

Permite colocar o texto em mais de uma linha

In [228]:
menu = '''
===========================
           Menu
===========================
'''

texto = """
Utilizando três aspas, simples ou duplas,
pode-se  criar strings de múltiplas linhas
"""

## Multiplicando Strings

Utilizando o símbolo * pode se mutiplicar um caractere ou sequência de caracteres de uma string, pelo número da direita.

In [229]:
print('=~' * 25)

=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~

## Juntando Strings

#### Utiliza-se o sinal de + para juntar duas strings

In [230]:
nome = "Angelo" + " Bardy"
print(nome)

print(n + m)

Angelo Bardy
Primeiro texto - Segundo texto

#### Para juntar uma string e um tipo diferente de string, precisa primeiro transformar o dado

In [231]:
idade = 67
jovem = False
dados = nome + "\nidade: " + str(idade) + "\njovem: " + str(jovem)
print(dados)

Angelo Bardy
idade: 67
jovem: False

#### A vírgula consegue juntar variáveis, e coloca um espaço entre elas

In [232]:
print(nome, idade, jovem)

Angelo Bardy 67 False

## .format()

#### Permite fazer ajunção de objetos dentro da própria string

Máscara - são as chaves utilizadas dentro da string, essa máscara será substituida pelo objeto dentro do método format.

In [233]:
mostrar_nome = "Nome: {}".format(nome)
print(mostrar_nome)

Nome: Angelo Bardy

Pode-se utilizar mais de uma máscara, e mais de um objeto, mas colocando na mesma ordem que está no format.

In [234]:
mostrar_dados = '''
Nome: {}
Idade: {}
Jovem: {}
'''.format(nome, idade, jovem)
print (mostrar_dados)

Nome: Angelo Bardy
Idade: 67
Jovem: False

Também é possível colocar em outras ordens o valor do format, ou repetir um valor mais de uma vez.

Basta associar as variáveis com um parâmetro, que você nomeia, e os parâmetros criados são retornados dentro das máscaras.

In [235]:
mostrar_dados = '''
Nome: {s}
Idade: {n}
Jovem: {v}
Idade {n} e nome {s}
'''.format(n=idade, v=jovem, s=nome)
print (mostrar_dados)

Nome: Angelo Bardy
Idade: 67
Jovem: False
Idade 67 e nome Angelo Bardy

#### Utilização de dicionário dentro do .format()

Um dicionário pode ser chamado dentro do método format, utilizando **.

Dentro das máscaras chama os valores do dicionário pelas chaves do dicionário.

In [236]:
dicionario = {'nome':nome, 
              'idade':idade, 
              'jovem':jovem, 
              'velho': not jovem}
mostrar_dados = """
Nome: {nome}
Idade: {idade}
Velho: {velho}
Jovem: {jovem}
""".format(**dicionario)
print(mostrar_dados)

Nome: Angelo Bardy
Idade: 67
Velho: True
Jovem: False

## f string

#### Permite a junção de objetos na string de forma mais facilitada e ágil

Antes das aspas da string coloca-se o f e dentro das máscaras colocam-se os objetos.

In [237]:
mostrar_dados = f'''
Nome : {nome}
Idade: {idade}
Jovem: {jovem}
Velho: {not jovem}
'''

print(mostrar_dados)

Nome : Angelo Bardy
Idade: 67
Jovem: False
Velho: True

## .join()

Junta os valores de um texto ou de uma lista em um novo texto

#### Utilizando um texto

- Lado esquerdo do .join() fica o caractere ou a sequência de caracteres entre aspas, que vão fazr a alteração no texto
- Lado direito do .join(), dentro dos parênteses fica a string que será modificada

In [238]:
nome = '.'.join(nome)
print(nome)

A.n.g.e.l.o. .B.a.r.d.y

#### Utilizando listas

- Lado esquerdo do .join() fica o caractere de junção dos elementos da lista.
- Lado direito do .join() dentro dos parênteses fica a lista.
- Todos os elementos da lista devem ser strings.

In [239]:
lista = ['Angelo','Bardy','Idade','27']
nome = ' '.join(lista)
print(nome)

Angelo Bardy Idade 27

## Cores e estilo

- \033[estilo; cor do texto; cor de fundo m

- Base: \033[m

- Estilos: 0 1 2 3 4 5 6 7

- Cor do texto: 30 31 32 33 34 35 36 37 38 39

- Cor de fundo: 40 41 42 43 44 45 46 47 48 49

In [240]:
print("\033[4mItálico")

Itálico

In [241]:
print("\033[32mCor do texto")

Cor do texto

In [242]:
print("\033[42mCor de fundo")

Cor de fundo

In [243]:
print("\033[42;5mTeste")

Teste

In [244]:
print("\033[32;5mTeste")

Teste

In [245]:
print("\033[37;41mTESTE")

TESTE

In [246]:
print("\033[35;43;5mTESTE\033[m \033[33;45;4mSEGUNDO TESTE")

TESTE SEGUNDO TESTE

## Formatação

#### Quantidade mínima de caracteres, o número colocado após os dois pontos diz a quantidade mínima de caracteres, se não for oculpado por nenhum outro, utiliza-se espaços.

In [247]:
print('Nome: {:40}Teste'.format(nome))
print(f'Nome: {nome:40}Teste')

Nome: Angelo Bardy Idade 27                   Teste
Nome: Angelo Bardy Idade 27                   Teste

#### Alinhar à direita >

In [248]:
print('{:>40}'.format(idade))
print(f'{idade:>40}')

                                      67
                                      67

#### Alinhar à esquerda <

In [249]:
print('{:<40}'.format(idade))
print(f'{idade:<40}')

67
67

#### Alinha ao centro ^

In [250]:
print('{:^40}'.format(idade))
print(f'{idade:^40}')

                   67
                   67

#### Definindo caracteres no alinhamento, o caractere utilizado antes do símbolo de alinhamento subtituirá os espaços

In [251]:
print('{:=>40}'.format(idade))
print(f'{idade:.>40}')

print('{:-<40}'.format(idade))
print(f'{idade:~<40}')

print('{:+^40}'.format(idade))
print(f'{idade:*^40}')

======================================67
......................................67
67--------------------------------------
67~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+++++++++++++++++++67+++++++++++++++++++
*******************67*******************

## .center()

- Funciona de forma similar ao alinhamento do centro, dentro do método, coloca-se o tamanho mínimo dos caracteres e se vai substituir os espaços por algum caractere.

In [252]:
print(nome.center(100))
print(nome.center(100, '='))

                                       Angelo Bardy Idade 27
=======================================Angelo Bardy Idade 27========================================

## Manipulação dos caracteres

#### Retorna o caractere da posição indicada entre cochetes

- O primeiro índice é 0
- O último índice é -1
- O penúltimo índice é -2

In [253]:
print('Texto teste'[3])
print(nome[5])

t
o

#### Retornar os caracteres entre duas posições

In [254]:
print(nome[2:12])

gelo Bardy

#### O terceiro número indica o salto, ou seja de quantos em quantos números ele conta pra considerar o próximo caractere

In [255]:
print(nome[3:-1:2])

eoBryIae2

#### Retorna todos os caracteres a partir do primeiro indicado

In [256]:
print(nome[3:])

elo Bardy Idade 27

#### Retorna todos os caracteres antes do último indicado

In [257]:
print(nome[:15])

Angelo Bardy Id

#### Retorna os caracteres contando a cada salto depois do inicial indicado

In [258]:
print(nome[3::3])

e r a

#### Retorna todos os caracteres a cada salto antes do final indicado

In [259]:
print(nome[:18:2])

Agl ad dd

#### Retorna os caracteres considerando o salto

In [260]:
print(nome[::2])

Agl ad dd 7

 #### Retorna o texto invertido

In [261]:
print(nome[::-1])

72 edadI ydraB olegnA

## .replace()

- Troca uma parte do texto de uma String, por outro texto.
- Texto que será trocado como primeiro parâmetro
- Texto novo como segundo parâmetro

In [262]:
nome = nome.replace('Idade', 'Teste')
print(nome)

Angelo Bardy Teste 27

## Transformar a caixa das letras

#### .upper() - Transforma todas as letras em maiúsculo

In [263]:
print('teste'.upper())
print(nome.upper())

TESTE
ANGELO BARDY TESTE 27

#### .lower() - Transforma todas as letras em minúsculo

In [264]:
print('teste'.lower())
print(nome.lower())

teste
angelo bardy teste 27

#### .capitalize() - Apenas a primeira letra fica maiúscula

In [265]:
print('teste de texto'.capitalize())
print(nome.capitalize())

Teste de texto
Angelo bardy teste 27

#### .title() - Primeira letra de cada palavra fica maiúscula

In [266]:
print('teste de texto'.title())
print(nome.title())

Teste De Texto
Angelo Bardy Teste 27

## Excluindo espaços

In [267]:
texto = "                  Teste                    "

#### .rstrip() - Exclui os espaços do lado direito do texto

In [268]:
print(texto.rstrip())

                  Teste

#### .lstrip() - Exclui os espaços do lado esquerdo do texto

In [269]:
print(texto.lstrip())

Teste

#### .strip() - Exclui os espaços do lado esquerdo e direito do texto

In [270]:
print(texto.strip())

Teste

## Separando caracteres

#### .split() - Separa as palavras por um caractere indicado em uma lista, quando não se indica o caractere é utilizado o espaço.

In [271]:
nome1 = nome.split()
nome2 = nome.split('e')

print(nome1)
print(nome2)

['Angelo', 'Bardy', 'Teste', '27']
['Ang', 'lo Bardy T', 'st', ' 27']

#### .rsplit() - Separa as palavras pela direita

In [272]:
nome1 = nome.rsplit()
nome2 = nome.rsplit('e')

print(nome1)
print(nome2)

['Angelo', 'Bardy', 'Teste', '27']
['Ang', 'lo Bardy T', 'st', ' 27']

#### Guardando valores em várias variáveis

In [284]:
nome, idade, data = input('Digite Nome, idade e data separados por espaço: ').split()
print(nome)
print(idade)
print(data)

Digite Nome, idade e data separados por espaço: Angelo 66 25/12/1974
Angelo
66
25/12/1974

## Caracteres especiais

#### \n - Quebra de linha

In [273]:
print('Nome \nIdade')

Nome
Idade

#### \t - Tabulação

In [274]:
print('Nome\tIdade')

Nome	Idade

## Parâmetros do print()

#### end - Muda o último caractere da função print, que já vem com a função \n

In [275]:
print('Teste', end = '-')

Teste-

## len() 

- Faz a contagem dos elementos de uma sequêcia (string, listas, tuplas, dicionários, entre outros)

In [276]:
print(len(nome))

21

## .find()

#### .find() - Mostra a primeira ocorrência (posição, índice) do caractere ou sequência de caracteres

In [277]:
print(nome.find('e'))

3

#### Determinando a posição, considera a procura a partir daquela posição

In [278]:
print(nome.find('e', 4))

14

#### .rfind() - Mostra a ocorrência a partir da direita

In [279]:
print(nome.rfind('e'))

17

## .count()

#### .count() - Mostra a quantidade de vezes que um caractere ou string aparecem dentro de um texto.

In [280]:
print(nome.count('e'))

3

#### Pode-se considerar a partir de uma primeira posição indicada

In [281]:
print(nome.count('e', 4))

2

#### Considerando a partir de uma posição inicial e uma posição final

In [282]:
print(nome.count('e',4,17))

1